
__pycache__/PowerPoint.cpython-39.pyc
__pycache__/MySQL.cpython-39.pyc
__pycache__/HTML_U.cpython-39.pyc
__pycache__/HTML_U.cpython-312.pyc
__pycache__/MySQL.cpython-312.pyc
__pycache__/PowerPoint.cpython-312.pyc
/__pycache__
/static/uploads
/static/docs
/static/images/SlidesPPTX
/static/images/capas
/static/images/Wallpaper
/static/images/musical
/static/images/EBD
estrutura.txt
