
__pycache__/PowerPoint.cpython-39.pyc
__pycache__/MySQL.cpython-39.pyc
__pycache__/HTML_U.cpython-39.pyc
__pycache__/HTML_U.cpython-312.pyc
__pycache__/MySQL.cpython-312.pyc
__pycache__/PowerPoint.cpython-312.pyc
