<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Abrir Bíblia</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/navbar-top-fixed.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">      
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='datatable/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='datatable/FixedHeader-4.0.0/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
    

    <!-- Simular original -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> -->

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">

    <style>

      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type=number] {
        -moz-appearance: textfield;
      }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: black;
      }
   

      .box-index {
        box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
        color: blue;
        font-weight: bold;
      }

      .paragrafo {
        margin-bottom: 10px;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    #anterior,
    #proximo {
      color: white;
    }

    .ce-paragraph {
        border-bottom: solid;
    }   

    #previewSlide {
      width: 426px; /* or whatever width you want. */
      height: 240px; /* or whatever width you want. */
      display: inline-block;    
      background-color: black;
      color: white;
      line-height: normal;
      font-family: Arial, Helvetica, sans-serif;
    }

    #previewSubtitle {
      width: 426px; /* or whatever width you want. */
      height: 50px; /* or whatever width you want. */
      display: inline-block;    
      background-color: rgb(0, 0, 0, 0.8); 
      color: white;
      line-height: normal;
      font-family: Arial;      
    }

    .arrows,
    .preview {
      width: 426px;
    }

    .view-marker {
      color:rgba(255,207,102);
      font-weight:bold;
      background:rgba(0,0,0,0)
    }

    .arrow {
      font-size: xx-large;
    }

    #editorjs_s,
    #editorjs {
      color:black;
    }

    #letras_musicas,
    #detalhes_musicas {
      color: black;
    }

    .Forte {
      background-color: rgb(115, 249, 139);
      border-radius: 5px;
      padding: 2%;
    }

    .Médio {
      background-color: rgb(250, 191, 135);
      border-radius: 5px;
      padding: 2%;
    }

    .Fraco {
      background-color: rgb(249, 159, 237);
      border-radius: 5px;
      padding: 2%;
    }

    .text {
      background-color: rgb(255, 255, 255);
      border-radius: 5px;
      padding: 1%;
      margin-top: 10px;
    }

    .cdx-marker {
      color:rgba(192,0,0);
      font-weight:bold;
      background:rgba(0,0,0,0);
    }   

    #txt_capitulo,
    #txt_versiculo,
    #combo_versao {
      border: solid;
      border-color: rgb(0, 0, 0, 0.3);
      margin-left: 10px;
      margin-right: 10px;
      width: 60px;
    }  

    #combo_versao {
      width: 100px;
      text-align: left;
    }

    #btn_iniciar {
      margin-left: 10px;
    }

    .toggled { display: none; }

    img {
        display: block;
        height: 200px;
        width: 100%;
        border: solid;
        border-width: thin;
    }

    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .title {
      text-align:center;
      font-weight: bold;
      color:black;
    }

    #selecionarLivro {
      border: none;
      background-color: rgb(201, 130, 0);
      padding: 12px 48px 12px 24px;
      border-radius: 4px;
      color: white;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 24px center;
    }

    #txt_filtro {
      width: 90%;
      position: relative;
      left: 5%;
      border: solid black;
    }

    .dropdown-item-text {
      font-weight: bold;
      font-size:large;
    }

    .btn-capitulos {
      margin: 3px;
      width: 60px;
    }

    .nd {
      font-variant: small-caps;
    }

    .add {
      font-style: italic;
    }

    .sc {
      font-variant: small-caps;
    }

    .heading {
      font-weight: bold;
    }

    .wj {
      color: red;
    }    

    .t_vers {
      font-size: 30px;
    }

    .auto_hifen {
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }

    .cel_vers {
      cursor: pointer;
    }

    </style>
    
  </head>

  <body>

    {% block menu_superior %}
      {% include 'menu_superior.html' %}
    {% endblock %}


		<div class="wrapper d-flex align-items-stretch">
    {% block menu_lateral %}
      {% include 'menu_lateral.html' %}
    {% endblock %}

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <section class="container">
          <div class="row"> 
            <div class="col-sm-12">
              <h2 class="fw-bold">Abrir Bíblia</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">

              <div class="dropright">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="selecionarLivro" data-toggle="dropdown" aria-expanded="false">
                  Selecione o Livro
                </button>
                <ul class="dropdown-menu" aria-labelledby="selecionarLivro">
                  <input type="text" id="txt_filtro">
                  <div class="dropdown-divider headAntigo"></div>
                  <span class="dropdown-item-text headAntigo">Antigo Testamento</span>
                  {% for item in antigo %}              
                  <li><a class="dropdown-item lsAntigo livroBiblia" href="#" data-id="{{item['id']}}">{{item['descricao']}}</a></li>
                  {% endfor %}
                  <div class="dropdown-divider headNovo"></div>
                  <span class="dropdown-item-text headNovo">Novo Testamento</span>
                  {% for item in novo %}              
                  <li><a class="dropdown-item lsNovo livroBiblia" href="#" data-id="{{item['id']}}">{{item['descricao']}}</a></li>
                  {% endfor %}
                  <div class="dropdown-divider noResult toggled"></div>
                  <span class="dropdown-item-text toggled noResult">Nenhum resultado</span>
                </ul>
              </div>

            </div>   
          </div>
          <div class="row" id="conteudo_principal"></div>
        </section>
      </div>
		</div>

  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='datatable/datatables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='datatable/FixedHeader-4.0.0/js/fixedHeader.bootstrap.min.js') }}"></script>


  
<script>

  function scrollVer() {
    var element = document.getElementById('divisor_versiculo');
    var headerOffset = 45;
    var elementPosition = element.getBoundingClientRect().top;
    var offsetPosition = elementPosition + window.pageYOffset - headerOffset;
  
    window.scrollTo({
         top: offsetPosition,
         behavior: "smooth"
    });   
  }

  function loadContent(lista) {

    keys = Object.keys(lista[0]);

    combo = '<select id="combo_versao" class="form-select" aria-label="Default select example">';
    for (i = 0; i < keys.length - 1; i++) {
      combo += "<option value='" + keys[i] + "''>" + keys[i].replace('biblia_', '').toUpperCase() + "</option>";
    }
    combo += "</select>"

    $("#painel_versiculos").empty();

    $("#painel_versiculos").append("<h3>Versículos</h3>");
    $("#painel_versiculos").append('<p class="col-sm-12 form-inline form-group"><label for="txt_versiculo" class="form-label">Digite o versículo</label><input type="number" class="form-control" id="txt_versiculo" value="1"><label for="combo_versao">e escolha a versão</label>' + combo + '<label>ou clique na tabela abaixo:</label><button id="btn_iniciar" class="btn btn-success">Iniciar Apresentação</button></p>');

    $("#painel_versiculos").append("<table class='table table-hover' id='tb_versiculo'></table>");

    thead = '<tr><th scope="col">Vers.</th>';

    for (i = 0; i < keys.length - 1; i++) {
      thead += '<th>' + keys[i].replace('biblia_', '').toUpperCase() + '</th>';
    }
    thead += "</tr>";

    $("#tb_versiculo").append('<thead class="table-dark">' + thead + '</thead>');

    tbody = '<tbody>';
    for (item in lista) {
      tbody += '<tr data-vers="' + lista[item]['ver'] + '">';
      tbody += '<th class="align-middle t_vers">' + lista[item]['ver'] + '</th>';
      for (i = 0; i < keys.length - 1; i++) {
        tbody += '<td lang="pt-br" class="align-middle text-justify auto_hifen cel_vers" data-versao="' + keys[i] + '">' + lista[item][keys[i]] + '</td>';
      }              
      tbody += '</tr>';
    }
    tbody += '</tbody>';

    $("#tb_versiculo").append(tbody);

    $('#tb_versiculo').DataTable( {
      fixedHeader: true,
      paging: false,
      responsive: true,
      searching: false
    });
  }

  $(".livroBiblia").on('click', function() {
    $(".livroBiblia").removeClass('active');
    $(this).addClass('active');
    $("#selecionarLivro").text($(this).text());

    id = $(this).attr('data-id');
    

    // pegar os capítulos
    $.ajax({
      type: "POST",
      url: "{{ url_for('abrir_biblia') }}",
      contentType: "application/json",
      data: JSON.stringify({'destino':1, 'id':id}),
      dataType: "json",
      success: function(response) {
        // estou com os capítulos, precis começar a desenhar o meu
        $("#conteudo_principal").empty();
        $("#conteudo_principal").append('<div class="col-sm-12"><hr></div>');
        $("#conteudo_principal").append('<div class="col-sm-12"><h3>Capítulos</h3></div>');
        $("#conteudo_principal").append('<div class="col-sm-12 form-inline form-group"><label for="txt_capitulo" class="form-label">Digite o capítulo ou clique nos botões abaixo:</label><input type="number" class="form-control" id="txt_capitulo" value="1"></div>');
        $("#conteudo_principal").append('<div class="col-sm-12" id="painel_capitulos"></div>');

        $("#painel_capitulos").append('<button class="btn btn-primary btn-capitulos" data-livro="' + id + '" data-cap="' + response[0] + '">' + String(response[0]).padStart(2, '0') + '</button>')
        for (var i = 1; i < response.length; i++) {
          $("#painel_capitulos").append('<button class="btn btn-secondary btn-capitulos" data-livro="' + id + '" data-cap="' + response[i] + '">' + String(response[i]).padStart(2, '0') + '</button>')
        }
          
        $.ajax({
          type: "POST",
          url: "{{ url_for('abrir_biblia') }}",
          contentType: "application/json",
          data: JSON.stringify({'destino':2, 'livro':id, 'cap':1}),
          dataType: "json",
          success: function(response) {
            $("#conteudo_principal").append('<div class="col-sm-12" id="divisor_versiculo"><hr></div>');
            $("#conteudo_principal").append('<div class="col-sm-12" id="painel_versiculos"></div>');

            loadContent(response);

          },
          error: function(err) {
            console.log(err);
          }
        });

      },
      error: function(err) {
        console.log(err);
      }
    });    

  });

  $("#txt_filtro").on('keyup', function() {
    val = $(this).val().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase();

    $(".dropdown-item").each(function(index) {
      //console.log($(this).text().toLowerCase().normalize("NFD") + " - " + val);
      if ($(this).text().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase().indexOf(val) !== - 1) {
        $(this).removeClass('toggled');
      } else {
        $(this).addClass('toggled');
      }
    });


    // verificar estado das listas
    totalA = $(".lsAntigo").not('.toggled').length
    if (totalA > 0) {
      $(".headAntigo").removeClass('toggled');
    } else {
      $(".headAntigo").addClass('toggled');
    }

    totalB = $(".lsNovo").not('.toggled').length
    if ($(".lsNovo").not('.toggled').length > 0) {
      $(".headNovo").removeClass('toggled');
    } else {
      $(".headNovo").addClass('toggled');
    } 

    if ((totalA + totalB) < 1) {
      $(".noResult").removeClass('toggled');
    } else {
      $(".noResult").addClass('toggled');
    }

  });

$("#conteudo_principal").on('click', '#btn_iniciar', function() {
  cap = $("#txt_capitulo").val();

  ver = parseInt($("#txt_versiculo").val());
  if (isNaN(ver)) ver = 1;

  versao = $("#combo_versao").val();

  livro = $(".livroBiblia.active").attr('data-id');

  $.ajax({
    type: "POST",
    url: "{{ url_for('abrir_biblia') }}",
    contentType: "application/json",
    data: JSON.stringify({'destino':3, 'cap':cap, 'ver':ver, 'versao':versao, 'livro':livro}),
    dataType: "json",
    success: function(response) {
      $("#divisor_versiculo").append('<div class="alert alert-success alert-dismissible fade show" role="alert">Apresentação do(a) Livro/Epístola de <strong>' + $(".livroBiblia.active").text() + '</strong>, cap. <strong>' + cap + '</strong>, verso <strong>' + ver + ' - ' + versao.replace('biblia_', '').toUpperCase() + '</strong> iniciada com sucesso! <a href="/controlador">Clique aqui</a> para abrir o Controlador.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');

    },
    error: function(err) {
      console.log(err);
    }
  });  
  
});

$("#conteudo_principal").on('click', '.cel_vers', function() {
  versao = $(this).attr('data-versao');
  versiculo = $(this).parent().attr('data-vers');
  
  $("#txt_versiculo").val(versiculo);
  $("#combo_versao").val(versao);

  scrollVer();
});


$("#conteudo_principal").on('click', '.btn-capitulos', function() {

  livro = $(this).attr('data-livro');
  cap = $(this).attr('data-cap');
  $("#txt_capitulo").val(cap);

  info = {'destino':2, 'livro':livro, 'cap':cap};

  $(".btn-capitulos").removeClass('btn-primary');
  $(".btn-capitulos").addClass('btn-secondary');
  $(this).addClass('btn-primary');

  $.ajax({
    type: "POST",
    url: "{{ url_for('abrir_biblia') }}",
    contentType: "application/json",
    data: JSON.stringify(info),
    dataType: "json",
    success: function(response) {
      loadContent(response);
      scrollVer();

    },
    error: function(err) {
      console.log(err);
    }
  });  
  
});

$("#conteudo_principal").on('change', '#txt_capitulo', function() {
  cap = $(this).val();
  button = $('button[data-cap="' + cap + '"]');

  if (button.length > 0) {

    $(".btn-capitulos").removeClass('btn-primary');
    $(".btn-capitulos").addClass('btn-secondary');
    button.addClass('btn-primary');

    livro = button.attr('data-livro');

    info = {'destino':2, 'livro':livro, 'cap':cap};

    $.ajax({
      type: "POST",
      url: "{{ url_for('abrir_biblia') }}",
      contentType: "application/json",
      data: JSON.stringify(info),
      dataType: "json",
      success: function(response) {
        loadContent(response);
        scrollVer();

      },
      error: function(err) {
        console.log(err);
      }
    });

  } else {
    cap = $(".btn-primary.btn-capitulos").attr('data-cap');
    $(this).val(cap);
  }
});

</script>
      
  </body>
</html>
