<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Cadastro de Calendário</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/navbar-top-fixed.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">      
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Simular original -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> -->

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">

    <style>

    #editorseg {
      color:black;
    }

    .table>tbody>tr>td, 
    .table>tbody>tr>th, 
    .table>tfoot>tr>td, 
    .table>tfoot>tr>th, 
    .table>thead>tr>td, 
    .table>thead>tr>th {
          vertical-align: middle;
    }

    .black {
      color: black;
    }

    .text-editor {
      width: 500px;
      background-color: white;
    }

    .ce-paragraph {
        border-bottom: solid;
    }

    .input_geral {
      border: 1px solid;
      border-color: rgb(0, 0, 0, 0.3);
    }

    .picture {
      padding-top: 3vh;
    }

    .table-aux {
      border: solid black 3px;
    }

    #loading {
      background-color: white;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9999;
    }

    .loader {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      bottom: 0;
      margin: auto;
      border: 20px solid #EAF0F6;
      border-radius: 50%;
      border-top: 20px solid #FF7A59;
      width: 200px;
      height: 200px;
      animation: spinner 4s linear infinite;
    }
    @keyframes spinner {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }  

    #col_calendario_semanal {
      border-right: solid 1px black;
    }

    .justify {
      text-align: justify;
    }

    .disabled {
      opacity: 0.5;
      text-decoration: line-through;
    }
  

    /*.dia_calendario_semanal {
      padding-bottom: 20px;
    }*/

    /*.codex-editor__loader { height: 38px !important; }
    .codex-editor__redactor { height: 38px !important; }*/

    .codex-editor__redactor { padding-bottom:0px !important }

    </style>
  </head>

  <body>

    <div class="modal fade" id="modal_festa_departamentos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Cadastro de Eventos da Festa de Departamentos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="input-group mb-3">
                  <span class="input-group-text">Congregação:</span>
                  <select class="form-control input_geral" id="cb_congregacao">
                    {% for item in congregacoes %}
                      <option value="{{item['id']}}">{{item['descricao']}}</option>
                    {% endfor %}
                  </select>
                  <span class="input-group-text">De:</span>
                  <input type="date" class="form-control input_geral" id="inicio_festa_dep">
                  <span class="input-group-text">Até:</span>
                  <input type="date" class="form-control input_geral" id="fim_festa_dep">
                </div>
              </div>
              <div class="col-sm-12">
                
              </div>
              <div class="col-sm-12">
                <div class="input-group mb-3">
                  <span class="input-group-text">Dia:</span>
                  <select class="form-control input_geral" id="cb_congregacao">
                    {% for item in semana %}
                      <option value="{{loop.index}}">{{item['descricao']}}</option>
                    {% endfor %}
                  </select>
                  <span class="input-group-text">De:</span>
                  <input type="date" class="form-control input_geral" id="inicio_festa_dep">
                  <span class="input-group-text">Até:</span>
                  <input type="date" class="form-control input_geral" id="fim_festa_dep">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btn_confirmar_dep" data-dismiss="modal">Confirmar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal_confirmar_edicao" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Habilitar Modo de Edição</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="txt_senha" class="form-label">Digite a senha do Administrador para prosseguir:</label>
            <input type="password" name="senha" class="form-control input_geral" id="txt_senha" placeholder="Digite a senha">
            <input type="hidden" name="destino" id="destino" value="0">
            <input type="hidden" name="id_versao" id="id_versao" value="0">            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btn_confirmar_senha" data-dismiss="modal">Confirmar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal_cadastro_semanal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Cadastro de Eventos Semanais</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-striped">
              <thead>
                <tr class="table-warning">
                  <th>Dia</th>
                  <th>Tipo</th>
                  <th>Detalhes</th>
                </tr>
              </thead>
              <tbody>
                {% for item in semana %}
                <tr>
                  <th>{{item}}</th>
                  <td>
                    <select class="form-select" id="cb{{item[:3]|lower}}">
                      <option value="0">Todos os dias</option>
                      {% if blocks_sem[loop.index - 1]['modo'] == 1 %}
                      <option value="1" selected>Dividido Mensalmente</option>
                      {% else %}
                      <option value="1">Dividido Mensalmente</option>
                      {% endif %}
                    </select>
                  </td>
                  <td>
                    <div id="editor{{item[:3]|lower}}"></div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btn_confirmar">Confirmar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div> 

    <div class="modal fade" id="modal_cadastro_mensal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Cadastro de Eventos Mensais - <b>{{calendario_semanal[6]['ano']}}</b></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-3 mb-3">
                <select class="form-select" id="cb_mes">
                  {% for mes in meses %}
                    {% if mes['atual'] %}
                    <option value="{{mes['valor']}}" selected>{{mes['desc']}}</option>
                    {% else %}
                    <option value="{{mes['valor']}}">{{mes['desc']}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div class="col-sm-9"><button class="btn btn-primary" id="btn_add_row"><i class="fa-solid fa-plus"></i></button></div>
              <div class="col-sm-12">
                <table class="table table-hover">
                  <thead>
                    <tr class="table-warning">
                      <th>Período</th>
                      <th>Descrição</th>
                    </tr>
                  </thead>
                  <tbody id="tbody_mes">
                    {% if blocks_mem|length > 0 %}
                      {% for item in blocks_mem %}
                      <tr id="table_row_{{loop.index}}">
                        <td>
                          <div class="input-group mb-3">
                            <span class="input-group-text">De:</span>
                            <input type="date" class="form-control input_geral data_de" id="dia_de_{{loop.index}}" data-id="{{loop.index}}" min="{{mes_atual}}" max="{{ultimo_dia}}" value="{{item['inicio']}}">
                            <span class="input-group-text">Até:</span>
                            <input type="date" class="form-control input_geral" id="dia_ate_{{loop.index}}" min="{{item['inicio']}}" max="{{ultimo_dia}}" value="{{item['fim']}}">
                          </div>                        
                        </td>                      
                        <td><div id="editor_evento_mensal_{{loop.index}}"></div></td>
                      </tr>
                      {% endfor %}
                    {% else %}
                    <tr id="table_row_1">
                      <td>
                        <div class="input-group mb-3">
                          <span class="input-group-text">De:</span>
                          <input type="date" class="form-control input_geral data_de" id="dia_de_1" data-id="1" min="{{mes_atual}}" max="{{ultimo_dia}}" value="{{mes_atual}}">
                          <span class="input-group-text">Até:</span>
                          <input type="date" class="form-control input_geral" id="dia_ate_1" min="{{mes_atual}}" max="{{ultimo_dia}}" value="{{mes_atual}}">
                        </div>                        
                      </td>
                      <td><div id="editor_evento_mensal_1"></div></td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btn_confirmar_mensal">Confirmar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>     
    
    {% block menu_superior %}
      {% include 'menu_superior.html' %}
    {% endblock %}    

		<div class="wrapper d-flex align-items-stretch">
    {% block menu_lateral %}
      {% include 'menu_lateral.html' %}
    {% endblock %}    
    

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <section class="container">
          <div id="loading"><div class="loader"></div></div>
          <div class="row"> 
            <div class="col-sm-12" id="status">{{status}}</div>
            <div class="col-sm-12">
              <h2 class="fw-bold text-center display-5">Calendário da Igreja</h2>
            </div>
            <div class="col-sm-12"><hr></div>
            <div class="col-sm-12">
              <button id="btn_semanal" class="btn btn-primary" data-toggle="modal" data-target="#modal_cadastro_semanal" hidden>Eventos Semanais Persistentes</button>
              <button id="btn_mensal" class="btn btn-success" data-toggle="modal" data-target="#modal_cadastro_mensal" hidden>Eventos Mensais</button>
              <button id="btn_dep" class="btn btn-danger" data-toggle="modal" data-target="#modal_festa_departamentos" hidden>Festa de Departamentos</button>
              <button id="btn_edicao" class="btn btn-secondary" data-toggle="modal" data-target="#modal_confirmar_edicao">Habilitar Modo de Edição</button>
            </div>            
            <div class="col-sm-12"><hr></div>
            <div class="col-sm-6" id="col_calendario_semanal">
              <h4 id="head_calendario_semanal" class="black fw-bold text-center">Calendário Semanal - <span class="text-danger">{{calendario_semanal[0]['dia']}}/{{calendario_semanal[0]['mes']}}</span> a <span class="text-danger">{{calendario_semanal[6]['dia']}}/{{calendario_semanal[6]['mes']}}/{{calendario_semanal[6]['ano']}}</span></h4>
              <div class="input-group mb-3">
                <span class="input-group-text">Calendário Semanal - </span>
                <select class="form-select" id="cb_semana_view" autocomplete="off">
                  {% for item in semanas_disponiveis %}
                    {% if segunda_dia == item['inicio'] %}

                    <option value="{{calendario_semanal[6]['ano']}}-{{item['inicio'][3:5]}}-{{item['inicio'][:2]}}" selected>{{item['inicio']}} a {{item['fim']}}</option>

                    {% else %}

                    <option value="{{calendario_semanal[6]['ano']}}-{{item['inicio'][3:5]}}-{{item['inicio'][:2]}}">{{item['inicio']}} a {{item['fim']}}</option>

                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              {% for item in calendario_semanal %}
              {% if item['eventos']|length > 0 %}
              <div class="dia_calendario_semanal">
                <h5><span class="text-dark fw-bold">{{item['dia']}} (</span><span class="fw-bold text-primary">{{item['desc']}}</span><span class="fw-bold text-dark">)</span></h5>
                <ul>
                {% for evento in item['eventos']%}
                  <li class="text-dark justify"><h5 class="{{evento['disabled']}}"><input {{evento['checkbox']}} class="form-check-input me-1 evento_semanal" type="checkbox" value="{{evento['id']}}" aria-label="...">&nbsp;{{evento['texto']}}</h5></li>
                {% endfor %}
                </ul>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            <div class="col-sm-6" id="col_calendario_mensal">
              <h4 class="black fw-bold text-center">Calendário Mensal de <span class="text-danger">{{mes_atual_desc}} de {{calendario_semanal[6]['ano']}}</span></h4>

              <div class="input-group mb-3">
                <span class="input-group-text">Calendário Mensal - </span>
                <select class="form-select" id="cb_mes_view">
                    {% for mes in meses %}
                      {% if mes['atual'] %}
                      <option value="{{mes['valor']}}" selected>{{mes['desc']}}</option>
                      {% else %}
                      <option value="{{mes['valor']}}">{{mes['desc']}}</option>
                      {% endif %}
                    {% endfor %}              
                </select>
              </div>

              {% for item in calendario_mensal %}
              <div class="dia_calendario_mensal">
                <h5>{{item['descricao']}}</h5>
                <ul>
                {% for evento in item['eventos']%}
                  <li class="text-dark justify"><h5>{{evento}}</h5></li>
                {% endfor %}
                </ul>
              </div>
              {% endfor %}
            </div>
          </div>
        </section>
      </div>
		</div>

    <form id="form_calendario_semanal" action="/calendario" method="POST">
      <input type="hidden" name="calendario_semanal" id="calendario_semanal">
    </form>

    <form id="form_calendario_mensal" action="/calendario" method="POST">
      <input type="hidden" name="calendario_mensal" id="calendario_mensal">
    </form>    

  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <script src="{{ url_for('static', filename='js/textFit.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/marker.umd.js') }}"></script>
  <script src="{{ url_for('static', filename='js/underline.umd.js') }}"></script>
  <script src="{{ url_for('static', filename='js/numeracao.js') }}"></script>
  <script src="{{ url_for('static', filename='js/editor-red.js') }}"></script>
  <script src="{{ url_for('static', filename='js/editorjs.umd.js') }}"></script>  
  
  <script>

    semana = {{semana}};
    bloco_semanal = {{blocks_sem}};
    bloco_mensal = {{blocks_mem}};
    console.log(bloco_mensal)
    editores = [];
    editores_mes = []

    if (bloco_mensal.length > 0) {
      var next_row = bloco_mensal.length + 1;
    } else {
      var next_row = 2;
    }
    

    window.onload = function() {
      $("#loading").remove();
    };    

    if (bloco_mensal.length > 0) {
      for (item in bloco_mensal) {

        index = parseInt(item) + 1;

        editores_mes.push(new EditorJS({
            /**
            * Id of Element that should contain Editor instance
            */
            holder: 'editor_evento_mensal_' + index,

            inlineToolbar: ['bold', 'italic', 'underline', 'red'],

            tools: {
              // ...
              underline: Underline,
              red: {
                class: Red
              }        
            },
            data: {
              blocks: bloco_mensal[item]['paragrafos']
            }      
        }));

      }
    } else {
      editores_mes.push(new EditorJS({
          /**
          * Id of Element that should contain Editor instance
          */
          holder: 'editor_evento_mensal_1',

          inlineToolbar: ['bold', 'italic', 'underline', 'red'],

          tools: {
            // ...
            underline: Underline,
            red: {
              class: Red
            }        
          },
          data: {
            blocks: []
          }      
      }));
    }




    for (dia in semana) {

      editores.push(new EditorJS({
        /**
        * Id of Element that should contain Editor instance
        */
        holder: 'editor' + semana[dia].toLowerCase().substring(0, 3),

        inlineToolbar: ['bold', 'italic', 'underline', 'red'],

        tools: {
          // ...
          underline: Underline,
          red: {
            class: Red
          }        
        },
        data: {
          blocks: bloco_semanal[dia]['paragrafos']
        }
      }));
    }

    $("#btn_confirmar").on('click', function() {
      // primeiro vou percorrer todos os editor e e coletar cada texto para compor um dicionário onde estará tudo
      calendario = [];

      for (item in editores) {
        modo =  $("#cb" + semana[item].toLowerCase().substring(0, 3)).val(); // pegar o modo

        pegarDados(editores[item], item, modo, calendario);

        }

    });

    $("#btn_confirmar_mensal").on('click', function() {
      // montar lista completa com todos os dados

      lista_final = [];

      $("#tbody_mes tr").each(function(index) {
        //console.log( index + ": " + $( this ).text() );

        id = $(this).find('.data_de').attr('data-id');
        data_inicial = $("#dia_de_" + id).val();
        data_final = $("#dia_ate_" + id).val();

        $(this).find('.ce-paragraph').each(function(index) {
          lista_final.push({'data_inicial':data_inicial, 'data_final':data_final, 'texto':$(this).html()});
        });
        
      });

      $("#calendario_mensal").val(JSON.stringify(lista_final));
      $("#form_calendario_mensal").submit();
    });

    function pegarDados(editor, item, modo, calendario) {
        editor.save()
        .then( data => {
          text_slide = data['blocks'];
          //console.log(text_slide);
          
          for (i = 0; i < text_slide.length; i++) {
            
            if (modo == 0) {
              calendario.push({'text':text_slide[i]['data']['text'], 'mensal':0, 'semana':item});
            } else {
              calendario.push({'text':text_slide[i]['data']['text'], 'mensal':i + 1, 'semana':item});
            }
            
          }

          if (item == editores.length - 1) {
            $("#calendario_semanal").val(JSON.stringify(calendario));
            $("#form_calendario_semanal").submit();
          }

        }).catch((error) => {
          console.error('Saving error', error);
          //return {'text':'-', 'mensal':0, 'semana':item}
        });
    }

    $(".evento_semanal").on('change', function() {
        evento = $(this).val();
        
        if ($(this).is(":checked")) {
          $(this).parent().removeClass('disabled');
          info = {'id_evento':evento, 'valor':1, 'tipo':0};
        } else {
          $(this).parent().addClass('disabled');
          info = {'id_evento':evento, 'valor':0, 'tipo':0};
        }

        $.ajax({
            type: "POST",
            url: "calendario",
            contentType: "application/json",
            data: JSON.stringify(info),
            dataType: "json",
            success: function(data) {
              console.log(data);
            },
        });        

    });

    $("#tbody_mes").on('change', '.data_de', function() {
      id = $(this).attr('data-id');

      $("#dia_ate_" + id).val($(this).val());
      $("#dia_ate_" + id).attr('min', $(this).val());
    });

    $("#btn_add_row").on('click', function() {
      $("#tbody_mes").append('<tr id="table_row_' + next_row + '"></tr>');

      data = '<td>' + 
                '<div class="input-group mb-3">' + 
                  '<span class="input-group-text">De:</span>' + 
                  '<input type="date" class="form-control input_geral data_de" id="dia_de_' + next_row + '" data-id="' + next_row + '" min="{{mes_atual}}" max="{{ultimo_dia}}" value="{{mes_atual}}">' + 
                  '<span class="input-group-text">Até:</span>' + 
                  '<input type="date" class="form-control input_geral" id="dia_ate_' + next_row + '" min="{{mes_atual}}" max="{{ultimo_dia}}" value="{{mes_atual}}">' + 
                '</div>' + 
              '</td>';

      $("#table_row_" + next_row).append(data);
      $("#table_row_" + next_row).append('<td><div id="editor_evento_mensal_' + next_row + '"></div></td>');
      
      editores_mes.push(new EditorJS({
          /**
          * Id of Element that should contain Editor instance
          */
          holder: 'editor_evento_mensal_' + next_row,

          inlineToolbar: ['bold', 'italic', 'underline', 'red'],

          tools: {
            // ...
            underline: Underline,
            red: {
              class: Red
            }        
          },
          data: {
            blocks: []
          }      
      }));

      next_row++;
    });

    $("#cb_semana_view").on('change', function() {
      info = {'tipo':1, 'segunda':$(this).val()};

      $.ajax({
          type: "POST",
          url: "calendario",
          contentType: "application/json",
          data: JSON.stringify(info),
          dataType: "json",
          success: function(data) {

            $("#head_calendario_semanal").html('Calendário Semanal - <span class="text-danger">' + data[0]['dia'] + '/' + data[0]['mes'] + '</span> a <span class="text-danger">' + data[data.length - 1]['dia'] + '/' + data[data.length - 1]['mes'] + '/' + data[data.length - 1]['ano']);
            $(".dia_calendario_semanal").remove();

            for (dia in data) {
              if (data[dia]['eventos'].length > 0) {

                html = '<div class="dia_calendario_semanal">' +
                '<h5><span class="text-dark fw-bold">' + data[dia]['dia'] + ' (</span><span class="fw-bold text-primary">' + data[dia]['desc'] + '</span><span class="fw-bold text-dark">)</span></h5>' +
                '<ul>';

                for (evento in data[dia]['eventos']) {
                  html += '<li class="text-dark justify"><h5 class="' + data[dia]['eventos'][evento]['disabled'] + '"><input ' + data[dia]['eventos'][evento]['checkbox'] + ' class="form-check-input me-1 evento_semanal" type="checkbox" value="' + data[dia]['eventos'][evento]['id'] + '" aria-label="...">&nbsp;' + data[dia]['eventos'][evento]['texto'] + '</h5></li>';
                }
                  

                html += '</ul></div>';

                $("#col_calendario_semanal").append(html);

              }
            }
          },
      });      
    });

    $("#btn_confirmar_senha").on('click', function() {
      senha = $('#txt_senha').val();
      
      $.ajax({
          type: "POST",
          url: "calendario",
          contentType: "application/json",
          data: JSON.stringify({'tipo':3, 'senha':senha}),
          dataType: "json",
          success: function(data) {
            if (data) {
              $("#btn_edicao").attr('hidden', '');
              $("#btn_semanal").removeAttr('hidden');
              $("#btn_mensal").removeAttr('hidden');
              $("#btn_dep").removeAttr('hidden');
            } else {
              $("#status").html('<div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>Senha incorreta!</strong> Por favor digite a senha correta para abrir a área de Cadastro e Alteração.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
            }
          },
      });       
    })

    $("#cb_mes").on('change', function() {
      mes = $(this).val();
      hoje = '{{hoje}}';
      ano = hoje.substring(6, 10);

      //console.log(ano);
      
      $.ajax({
          type: "POST",
          url: "calendario",
          contentType: "application/json",
          data: JSON.stringify({'tipo':2, 'mes':mes, 'ano':ano}),
          dataType: "json",
          success: function(data) {
            
            $("#tbody_mes").empty();

            blocos = data['blocos'];

            if (blocos.length > 0) {

              editores_mes = [];

              for (item in blocos) {
                id = parseInt(item) + 1;
                //console.log(blocos[item])
                
                $("#tbody_mes").append('<tr id="table_row_' + id + '"></tr>');

                data = '<td>' + 
                          '<div class="input-group mb-3">' + 
                            '<span class="input-group-text">De:</span>' + 
                            '<input type="date" class="form-control input_geral data_de" id="dia_de_' + id + '" data-id="' + id + '" min="' + data['data-min'] + '" max="' + data['data-max'] + '" value="' + blocos[item]['inicio'] + '">' + 
                            '<span class="input-group-text">Até:</span>' + 
                            '<input type="date" class="form-control input_geral" id="dia_ate_' + id + '" min="' + data['data-min'] + '" max="' + data['data-max'] + '" value="' + blocos[item]['fim'] + '">' + 
                          '</div>' + 
                        '</td>';

              $("#table_row_" + id).append(data);
              $("#table_row_" + id).append('<td><div id="editor_evento_mensal_' + id + '"></div></td>');

              editores_mes.push(new EditorJS({
                  /**
                  * Id of Element that should contain Editor instance
                  */
                  holder: 'editor_evento_mensal_' + id,

                  inlineToolbar: ['bold', 'italic', 'underline', 'red'],

                  tools: {
                    // ...
                    underline: Underline,
                    red: {
                      class: Red
                    }        
                  },
                  data: {
                    blocks: blocos[item]['paragrafos']
                  }      
              }));               

              }
            } else {
              next_row = 2;

              $("#tbody_mes").append('<tr id="table_row_1"></tr>');

              data = '<td>' + 
                        '<div class="input-group mb-3">' + 
                          '<span class="input-group-text">De:</span>' + 
                          '<input type="date" class="form-control input_geral data_de" id="dia_de_1" data-id="1" min="' + data['data-min'] + '" max="' + data['data-max'] + '" value="' + data['data-min'] + '">' + 
                          '<span class="input-group-text">Até:</span>' + 
                          '<input type="date" class="form-control input_geral" id="dia_ate_1" min="' + data['data-min'] + '" max="' + data['data-max'] + '" value="' + data['data-min'] + '">' + 
                        '</div>' + 
                      '</td>';

              $("#table_row_1").append(data);
              $("#table_row_1").append('<td><div id="editor_evento_mensal_1"></div></td>');

              editores_mes = [];

              editores_mes.push(new EditorJS({
                  /**
                  * Id of Element that should contain Editor instance
                  */
                  holder: 'editor_evento_mensal_1',

                  inlineToolbar: ['bold', 'italic', 'underline', 'red'],

                  tools: {
                    // ...
                    underline: Underline,
                    red: {
                      class: Red
                    }        
                  },
                  data: {
                    blocks: []
                  }      
              }));              
            }
          },
      });
    });

  </script>
      
  </body>
</html>
