<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Controlador Principal</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/navbar-top-fixed.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">      
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Simular original -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> -->

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: black;
      }

      .box-index {
        box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
        color: blue;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    #anterior,
    #proximo {
      color: white;
    }

    #slidePrincipal {
      width: 640px; /* or whatever width you want. */
      height: 360px; /* or whatever width you want. */
      line-height: normal;
    }

    #slideProx {
      width: 426; /* or whatever width you want. */
      height: 240px; /* or whatever width you want. */
      line-height: normal;
    }

    #card_principal {
      width: 641px; /* or whatever width you want. */
    }

    #card_prox {
      width: 428px; /* or whatever width you want. */
    }

    .mini-box {
      height: 140px;
      font-family: Arial, Helvetica, sans-serif;
      line-height: normal; 
    }

    .capa > img {
      width: 100%;
      height: auto;
    }
    .big-box {
      cursor: pointer;
    }

    .cdx-marker {
      color:{{cores['cor_musica_mark']}};
      font-weight:bold;
      background:rgba(0,0,0,0)
    }

    .arrow {
      font-size: xx-large;
      color:black;
    }

    #loading {
      background-color: white;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9999;
    }

    .loader {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      bottom: 0;
      margin: auto;
      border: 20px solid #EAF0F6;
      border-radius: 50%;
      border-top: 20px solid #FF7A59;
      width: 200px;
      height: 200px;
      animation: spinner 4s linear infinite;
    }
    @keyframes spinner {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }    

    #pausa_instrumental,
    #anotacao {
      font-size: 20px;
    }

    .coro {
      color:{{config['mark']}};
    }

    .cat-1-harpa,
    .cat-3-harpa {
      color: {{cores['cor_harpa_letra']}};
      background-color: {{cores['cor_harpa_fundo']}};
    }

    .cdx-num {
      color: {{cores['cor_harpa_num']}};
    }

    .red {
      color: red;
    }

    .cat-1-musica,
    .cat-3-musica,
    .cat-poesia {
      color: {{cores['cor_musica_letra']}};
      background-color: {{cores['cor_musica_fundo']}};
    }

    .cat-poesia {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .cat-2-musica,
    .cat-4-musica {
      color: {{cores['cor_musica_mark']}};
      background-color: {{cores['cor_musica_fundo']}};
    }    

    </style>
  </head>

  <body>
    
    {% block menu_superior %}
      {% include 'menu_superior.html' %}
    {% endblock %}    

		<div class="wrapper d-flex align-items-stretch">
    {% block menu_lateral %}
      {% include 'menu_lateral.html' %}
    {% endblock %}    


    <script>
      if (window.innerWidth < 1367) {
        var sidebar = document.getElementById("sidebar");
        sidebar.classList.add("active");
      }
    </script>
    

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <section class="text-center container">
          <div id="loading"><div class="loader"></div></div>
          <div class="row">
            <h1 class="fw-light">Apresentador de Slides</h1>
              <p class="lead text-muted">Abaixo você vê o slide atual e prévia do próximo.</p>
              <div class="col-sm-7">
                <div id="card_principal" class="card shadow-sm">
                    {% if lista_final[index]['tipo'] == 'capa_img' %}
                      <div class="capa" id="slidePrincipal">
                        <img src="{{ url_for('static', filename=lista_final[index]['url']) }}">
                      </div>
                    {% elif lista_final[index]['tipo'] == 'capa_base64' %}
                      <div class="capa" id="slidePrincipal">
                        <img src="data:image/png;base64,{{lista_final[index]['url']}}">
                      </div>
                    {% else %}
                      <div class="{{lista_final[index]['categoria']}} letra" id="slidePrincipal">{{lista_final[index]['texto']}}</div>
                    {% endif %}
                  <div class="card-body">
                    <h1 class="card-text text-center" id="slideAtual">Slide Atual: {{index + 1}}</h1>
                        {% if lista_final[index]['anotacao'] != '' %}
                        <p id="anotacao"><strong>Anotação: </strong>{{lista_final[index]['anotacao']}}</p>
                        {% endif %}
                        {% if lista_final[index]['cat'] == 3 or lista_final[index - 1]['cat'] == 4 %}
                        <p id="pausa_instrumental"><strong>&#9835; Atenção </strong>Para a pausa Instrumental. <strong>&#9835;</strong></p>
                        {% endif %}
                  </div>
                </div>        
              </div>
            {% if index + 1 < lista_final|length  %}
            <div class="col-sm-5">
              <div id="card_prox" class="card shadow-sm">

              {% if lista_final[index + 1]['tipo'] == 'capa_img' %}
                <div class="capa" id="slideProx">
                  <img src="{{ url_for('static', filename=lista_final[index + 1]['url']) }}">
                </div>
              {% elif lista_final[index + 1]['tipo'] == 'capa_base64' %}
                <div class="capa" id="slideProx">
                  <img src="data:image/png;base64,{{lista_final[index + 1]['url']}}">
                </div>
              {% else %}
                <div class="{{lista_final[index + 1]['categoria']}} letra" id="slideProx">{{lista_final[index + 1]['texto']}}</div>
              {% endif %}

                <div class="card-body">
                  <h4 class="card-text text-center" id="proximoSlide">Próximo Slide: {{index + 1}}</h4>
                </div>
              </div> 
                <button id="btn_previous" class="btn btn-light arrow" disabled><i class="fa-solid fa-circle-arrow-left"></i></button>
                <button id="btn_next" class="btn btn-light arrow" disabled><i class="fa-solid fa-circle-arrow-right"></i></button>
                <br>
                <button id="btn_pausar" class="btn btn-warning"><i class="fa-solid fa-circle-pause"></i> Pausar</button>                
                <button id="btn_encerrar" class="btn btn-dark"><i class="fa-solid fa-circle-xmark"></i> Finalizar</button>
            </div> 
            {% else %} 
            <div class="col-sm-5">
              <div id="card_prox" class="card shadow-sm">
                <div id="slideProx" class="letra" style="color:white !important; background-color:black !important;"><b>Fim</b></div>
                <div class="card-body">
                  <h4 class="card-text text-center" id="proximoSlide">Próximo Slide: -</h4>
                </div>
              </div>        
                <button id="btn_previous" class="btn btn-light arrow"><i class="fa-solid fa-circle-arrow-left"></i></button>
                <button id="btn_next" class="btn btn-light arrow" disabled><i class="fa-solid fa-circle-arrow-right"></i></button> 
                <br>
                <button id="btn_pausar" class="btn btn-warning"><i class="fa-solid fa-circle-pause"></i> Pausar</button>                
                <button id="btn_encerrar" class="btn btn-dark"><i class="fa-solid fa-circle-xmark"></i> Finalizar</button>
            </div>       
            {% endif %} 
          </div>
          <div class="row"><div class="col-sm-12"><hr></div></div>
          <div class="row">
            {% for sld in lista_final %}
              <div class="col-sm-3">
                {% if (index + 1) == loop.index %}
                <div id="box{{loop.index - 1}}" data-index="{{loop.index - 1}}" class="big-box card box-index">
                {% else %}
                <div id="box{{loop.index - 1}}" data-index="{{loop.index - 1}}" class="big-box card shadow-sm">
                {% endif %}
                  {% if sld['tipo'] == 'capa_img' %}
                  <div class="capa mini-box">
                    <img src="{{ url_for('static', filename=sld['url']) }}">
                  </div>
                  {% elif sld['tipo'] == 'capa_base64' %}
                  <div class="capa mini-box">
                    <img src="data:image/png;base64,{{sld['url']}}">
                  </div>                  
                  {% else %}
                  <div class="{{sld['categoria']}} mini-box letra">{{sld['texto']}}</div>
                  {% endif %}
                  <div class="card-body">
                    <h4 class="card-text text-center">Slide: {{loop.index}}</h4>
                  </div>
                </div>
                <br>
              </div>
            {% endfor %}
          </div>
        </section>
      </div>
		</div>

  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/textFit.min.js') }}"></script>
  
  <script>

    var index = {{index}};
    var slides = {{lista_final}};
    var chave = true;

    var socket = io();
    socket.on('refresh', function(result) {
        location.reload();
    });

    window.onload = function() {

      if (index > 0) {
        $("#btn_previous").removeAttr('disabled');
      } else {
        $("#btn_previous").attr('disabled', '');
      }

      if (index < slides.length) {
        $("#btn_next").removeAttr('disabled');
      } else {
        $("#btn_next").attr('disabled', '');
      }

      textFit($(".letra"), {alignVert: true, multiLine: true, minFontSize: 10, maxFontSize: 2000})

      $("#loading").remove();
    };

    function changeSlides() {

      $("#slideAtual").text("Slide Atual: " + (index + 1));
      $("#proximoSlide").text('Próximo Slide: ' + (index + 2));

      // definir slide principal
      if (slides[index]['tipo'] == 'capa_img') {
        $("#slidePrincipal").html('<img src="static/' + slides[index]['url'] + '">');
        $("#slidePrincipal").attr('class', 'capa');
      } else if (slides[index]['tipo'] == 'capa_base64') {
        $("#slidePrincipal").html('<img src="data:image/png;base64,' + slides[index]['url'] + '">');
        $("#slidePrincipal").attr('class', 'capa');
      } else {
        $("#slidePrincipal").html(slides[index]['texto']);
        $("#slidePrincipal").attr('class', slides[index]['categoria']);
        textFit($('#slidePrincipal'), {alignVert: true, multiLine: true, minFontSize: 20, maxFontSize: 2000});          
      }   

      
      if (index + 1 < slides.length) {
        if (slides[index + 1]['tipo'] == 'capa_img') {
          $("#slideProx").html('<img src="static/' + slides[index + 1]['url'] + '">');
          $("#slideProx").attr('class', 'capa');
        } else if (slides[index + 1]['tipo'] == 'capa_base64') {
          $("#slideProx").html('<img src="data:image/png;base64,' + slides[index + 1]['url'] + '">');
          $("#slideProx").attr('class', 'capa');
        } else {
          $("#slideProx").html(slides[index + 1]['texto']);
          $("#slideProx").attr('class', slides[index + 1]['categoria']);
          textFit($('#slideProx'), {alignVert: true, multiLine: true, minFontSize: 20, maxFontSize: 2000});
        }
      } else {
        $("#slideProx").html('<div id="slideProx" class="letra" style="color:white !important; background-color:black !important;"><b>Fim</b></div>');
        $("#proximoSlide").text('Próximo Slide: -');
        textFit($('#slideProx'), {alignVert: true, multiLine: true, minFontSize: 20, maxFontSize: 2000});        
      }

      if (index == 0) {
        $("#btn_previous").attr('disabled', '');
      } else {
        $("#btn_previous").removeAttr('disabled');
      }

      if (index + 1 == slides.length) {
        $("#btn_next").attr('disabled', '');
      } else {
        $("#btn_next").removeAttr('disabled');        
      }

      if (slides[index]['anotacao'] != '' && typeof slides[index]['anotacao'] != "undefined") {
        $("#slideAtual").parent().append("<p id='anotacao'><strong>Anotação: </strong>" + slides[index]['anotacao'] + "</p>");
      } else {
        $("#anotacao").remove();
      }

      // verificar se existe alguma anotaçao necessária
      if (slides[index]['categoria'] == "cat-3-musica" || slides[index]['categoria'] == "cat-4-musica") {
        $("#slideAtual").parent().append('<p id="pausa_instrumental"><strong>&#9835; Atenção </strong>Para a pausa Instrumental. <strong>&#9835;</strong></p>');
      } else {
        $("#pausa_instrumental").remove();
      }

      changeBox(index);

      $.ajax({
        type: "POST",
        url: "{{ url_for('updateSlide') }}",
        contentType: "application/json",
        data: JSON.stringify(index),
        dataType: "json",
        success: function(response) {
          console.log(response);
        },
        error: function(err) {
          console.log(err);
        }
      }); 

    }


    $(".big-box").on('click', function() {
      index = parseInt($(this).attr('data-index'));

      changeSlides();
    });

    function previous() {
      index--;

      changeSlides();
    }

    function next() {

      index++;

      changeSlides();
    }

    function changeBox(index) {
      $(".card").removeClass('box-index');
      $(".card").addClass('shadow-sm')
      $("#box" + index).addClass('box-index');
      $("#box" + index).removeClass('shadow-sm');
    }

    function encerrar() {
      $.ajax({
        type: "POST",
        url: "{{ url_for('encerrar_apresentacao') }}",
        contentType: "application/json",
        data: JSON.stringify(1),
        dataType: "json",
        success: function(response) {
          if (response) {
            location.reload();
          }
        },
        error: function(err) {
          console.log(err);
        }
      });      
    }
    
    function pausar() {
      $.ajax({
        type: "POST",
        url: "{{ url_for('encerrar_apresentacao') }}",
        contentType: "application/json",
        data: JSON.stringify(2),
        dataType: "json",
        success: function(response) {
          if (response) {
            location.reload();
          }
        },
        error: function(err) {
          console.log(err);
        }
      });      
    }

    $("#btn_next").on('click', function() {
      next();
    });

    $("#btn_previous").on('click', function() {
      previous();
    });    

    $("#btn_encerrar").on('click', function() {
      encerrar();
    });

    document.onkeydown = checkKey;

    function checkKey(e) {

        e = e || window.event;

        if (e.keyCode == '27') {
            e.preventDefault();
            pausar();
        }
        else if (e.keyCode == '37'  || e.keyCode == '33') {
            e.preventDefault();
            if (index > 0) {
              previous();
            }
        }
        else if (e.keyCode == '39' || e.keyCode == '34') {
            e.preventDefault();
            if (parseInt(index) + 1 < slides.length) {
              next();
            } else {
              proxima_PRS();
            }
        }           
    }

    $("#btn_pausar").on('click', function() {
      pausar();
    });

    function proxima_PRS() {
      if (chave) {

        chave = false;

        $.ajax({
          type: "POST",
          url: "{{ url_for('proxima_prs') }}",
          contentType: "application/json",
          data: JSON.stringify(1),
          dataType: "json",
          success: function(response) {
            if (response) {
              location.reload();
            }
          },
          error: function(err) {
            console.log(err);
          }
        });
      }       
    }

  </script>
      
  </body>
</html>
