<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Controlador Principal</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/navbar-top-fixed.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">      
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Simular original -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> -->

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: black;
      }



      .box-index {
        box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
        color: blue;
        font-weight: bold;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    #anterior,
    #proximo {
      color: white;
    }

    #slidePrincipal {
      width: 640px; /* or whatever width you want. */
      height: 360px; /* or whatever width you want. */
    }

    #slideProx {
      width: 426; /* or whatever width you want. */
      height: 240px; /* or whatever width you want. */
    }

    .capa {
      background-image: url("{{ url_for('static', filename=fundo) }}");  
      background-size: contain;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .letra {
      background-color: rgb(0,0,0);
      background-size: 100% 100%;
      color:white;
      font-family: Arial, Helvetica, sans-serif;
      line-height: normal; 
    }

    #card_principal {
      width: 641px; /* or whatever width you want. */
    }

    #card_prox {
      width: 428px; /* or whatever width you want. */
    }

    .cdx-marker {
      color:rgba(255,207,102);
      font-weight:bold;
      background:rgba(0,0,0,0)
    }

    .arrow {
      font-size: xx-large;
      color:black;
    }

    </style>

    
  </head>

  <body>
    
    {% block menu_superior %}
      {% include 'menu_superior.html' %}
    {% endblock %}    

		<div class="wrapper d-flex align-items-stretch">
    {% block menu_lateral %}
      {% include 'menu_lateral.html' %}
    {% endblock %}    

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <section class="text-center container">
          <div class="row">
            <h1 class="fw-light">Apresentador de Slides</h1>
              <p class="lead text-muted">Abaixo você vê o slide atual e prévia do próximo.</p>
              <div class="col-sm-7">
                <div id="card_principal" class="card shadow-sm">
                    {% if index == 0%}
                      <div class="capa" id="slidePrincipal"></div>
                    {% else %}
                      <div class="letra" id="slidePrincipal"></div>
                    {% endif %}
                  <div class="card-body">
                    <h1 class="card-text text-center" id="slideAtual">Slide Atual: {{index + 1}}</h1>
                  </div>
                </div>        
              </div>
            {% if index < lista_slides|length  %}
            <div class="col-sm-5">
              <div id="card_prox" class="card shadow-sm">
                <div id="slideProx" class="letra">{{lista_slides[0]['text-slide']}}</div>
                <div class="card-body">
                  <h4 class="card-text text-center" id="proximoSlide">Próximo Slide: {{index + 2}}</h4>
                </div>
              </div> 
                <button id="btn_previous" class="btn btn-light arrow" disabled><i class="fa-solid fa-circle-arrow-left"></i></button>
                <button id="btn_next" class="btn btn-light arrow" disabled><i class="fa-solid fa-circle-arrow-right"></i></button>
            </div> 
            {% else %} 
            <div class="col-sm-5">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" id="imgProx" width="100%" height="100%" src="{{ url_for('static', filename='images/Fim.jpg') }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"/></img>
                <div class="card-body">
                  <h4 class="card-text text-center" id="proximoSlide">Próximo Slide: -</h4>
                </div>
              </div>        
            </div>       
            {% endif %} 
          </div>
        </section>
      </div>
		</div>

  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <script src="{{ url_for('static', filename='js/textFit.min.js') }}"></script>
  
  <script>

    var index = {{index}};
    var slides = {{lista_slides}};

    window.onload = function() {
      textFit($('#slideProx'), {alignVert: true, multiLine: true, minFontSize: 20, maxFontSize: 43});

      if (index > 0) {
        $("#btn_previous").removeAttr('disabled');
      } else {
        $("#btn_previous").attr('disabled', '');
      }

      if (index < slides.length) {
        $("#btn_next").removeAttr('disabled');
      } else {
        $("#btn_next").attr('disabled', '');
      }
    };

    function goto(index) {
      $.ajax({
        type: "POST",
        url: "{{ url_for('goto') }}",
        contentType: "application/json",
        data: JSON.stringify(index),
        dataType: "json",
        success: function(response) {
          $("#slideAtual").text("Slide Atual: " + response)
          $("#imgAtual").attr('src', '/static/images/slides/' + response + '.png');
          if (response == total_slides) {
            $("#proximoSlide").text('Próximo Slide: -')
            $("#imgProx").attr('src', "{{ url_for('static', filename='images/Fim.jpg') }}");
          } else {
            $("#proximoSlide").text('Próximo Slide: ' + (response + 1))
            $("#imgProx").attr('src', '/static/images/slides/' + (response + 1) + '.png');
          }

        },
        error: function(err) {
          console.log(err);
        }
      });
    }

    function previous() {

      index--;

      $("#slideAtual").text("Slide Atual: " + (index + 1));
      $("#proximoSlide").text('Próximo Slide: ' + (index + 2));

      // verificar estado do slidePrincipal

      if (index == slides.length) {
        $("#slidePrincipal").addClass('letra');
        $("#slidePrincipal").removeClass('capa');     

        $("#slideProx").empty();
        $("#slideProx").addClass('capa');
        $("#slideProx").removeClass('letra');             
      } else {
        $("#slideProx").addClass('letra');
        $("#slideProx").removeClass('capa');          

        $("#slideProx").html(slides[index]['text-slide']);
        textFit($('#slideProx'), {alignVert: true, multiLine: true, minFontSize: 20, maxFontSize: 43});             
      }

      if (index == 0) {
        $("#slidePrincipal").empty();
        $("#slidePrincipal").addClass('capa');
        $("#slidePrincipal").removeClass('letra');        
      } else {
        $("#slidePrincipal").html(slides[index - 1]['text-slide']);
        textFit($('#slidePrincipal'), {alignVert: true, multiLine: true, minFontSize: 20, maxFontSize: 63});          
      }

      if (index == 0) {
        $("#btn_previous").attr('disabled', '');
      } else {
        $("#btn_previous").removeAttr('disabled');
      }

      $("#btn_next").removeAttr('disabled');



      /*$.ajax({
        type: "POST",
        url: "{{ url_for('anteriorSlide') }}",
        contentType: "application/json",
        data: JSON.stringify(1),
        dataType: "json",
        success: function(response) {
          $("#slideAtual").text("Slide Atual: " + response)
          $("#imgAtual").attr('src', '/static/images/slides/' + response + '.png');
          $("#proximoSlide").text('Próximo Slide: ' + (response + 1))
          $("#imgProx").attr('src', '/static/images/slides/' + (response + 1) + '.png');
        },
        error: function(err) {
          console.log(err);
        }
      });*/
    }

    function next() {

      index++;

      $("#slideAtual").text("Slide Atual: " + (index + 1));
      $("#proximoSlide").text('Próximo Slide: ' + (index + 2));

      if (index == 1) { // preciso retirar o background da imagem
        $("#slidePrincipal").addClass('letra');
        $("#slidePrincipal").removeClass('capa');
      }

      if (index <= slides.length) {
        $("#slidePrincipal").html(slides[index - 1]['text-slide']);
        textFit($('#slidePrincipal'), {alignVert: true, multiLine: true, minFontSize: 20, maxFontSize: 63});        
      } else { // recolocar o background da imagem
        $("#slidePrincipal").empty();
        $("#slidePrincipal").addClass('capa');
        $("#slidePrincipal").removeClass('letra');        
      }


      if (index < slides.length) {
        $("#slideProx").html(slides[index]['text-slide']);
        textFit($('#slideProx'), {alignVert: true, multiLine: true, minFontSize: 20, maxFontSize: 43});
      } else if (index == slides.length) {
        $("#slideProx").empty();
        $("#slideProx").addClass('capa');
        $("#slideProx").removeClass('letra');
      } else {
        $("#slideProx").addClass('letra');
        $("#slideProx").removeClass('capa');
        $("#slideProx").html('<b>Fim</b>');
        $("#proximoSlide").text('Próximo Slide: -');
        textFit($('#slideProx'), {alignVert: true, multiLine: true, minFontSize: 20, maxFontSize: 100});        
      }

      if (index <= slides.length) {
        $("#btn_next").removeAttr('disabled');
      } else {
        $("#btn_next").attr('disabled', '');
      }  

      $("#btn_previous").removeAttr('disabled');

      $.ajax({
        type: "POST",
        url: "{{ url_for('proximoSlide') }}",
        contentType: "application/json",
        data: JSON.stringify(index),
        dataType: "json",
        success: function(response) {
          console.log(reponse);
        },
        error: function(err) {
          console.log(err);
        }
      });
    }

    $("#btn_next").on('click', function() {
      next();
    });

    $("#btn_previous").on('click', function() {
      previous();
    });    


    document.onkeydown = checkKey;

    function checkKey(e) {

        e = e || window.event;

        if (e.keyCode == '38') {
            //previous();
        }
        else if (e.keyCode == '40') {

        }
        else if (e.keyCode == '37'  || e.keyCode == '33') {
            e.preventDefault();
            if (index > 0) {
              previous();
            }
        }
        else if (e.keyCode == '39' || e.keyCode == '34') {
            e.preventDefault();
            if (index <= slides.length) {
              next();
            }
        }           
    }     

  </script>
      
  </body>
</html>
