<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Lições EBD</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/navbar-top-fixed.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">      
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Simular original -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> -->

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">

    <style>

    #editorseg {
      color:black;
    }

    .table>tbody>tr>td, 
    .table>tbody>tr>th, 
    .table>tfoot>tr>td, 
    .table>tfoot>tr>th, 
    .table>thead>tr>td, 
    .table>thead>tr>th {
          vertical-align: middle;
    }

    .black {
      color: black;
    }

    .text-editor {
      width: 500px;
      background-color: white;
    }

    .ce-paragraph {
        border-bottom: solid;
    }

    .picture {
      padding-top: 3vh;
    }

    .table-aux {
      border: solid black 3px;
    }

    #loading {
      background-color: white;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9999;
    }

    .loader {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      bottom: 0;
      margin: auto;
      border: 20px solid #EAF0F6;
      border-radius: 50%;
      border-top: 20px solid #FF7A59;
      width: 200px;
      height: 200px;
      animation: spinner 4s linear infinite;
    }
    @keyframes spinner {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }  

    #col_calendario_semanal {
      border-right: solid 1px black;
    }

    .justify {
      text-align: justify;
    }

    .bordered {
      border: solid 1px;
      border-color: rgb(0, 0, 0, 0.3);
    }

    </style>
  </head>

  <body>

    <div class="modal fade" id="modal_cadastro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Cadastro das Lições</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Lição 01</span>
            <input type="date" class="form-control bordered" name="licao1date" id="licao1date">
            <span class="input-group-text" id="basic-addon2">Título:</span>
            <input type="text" class="form-control bordered" name="licao1title" id="licao1title">          
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Texto Áureo</span>
            <textarea class="form-control" id="licao1textoaureo" name="licao1textoaureo" rows="3"></textarea>
            <span class="input-group-text" id="basic-addon2">Verdade Prática</span>
            <textarea class="form-control" id="licao1vdd" name="licao1vdd" rows="3"></textarea>
          </div>          

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btn_confirmar">Confirmar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div> 
    
    {% block menu_superior %}
      {% include 'menu_superior.html' %}
    {% endblock %}    

		<div class="wrapper d-flex align-items-stretch">
    {% block menu_lateral %}
      {% include 'menu_lateral.html' %}
    {% endblock %}    
    

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <section class="container">
          <div id="loading"><div class="loader"></div></div>
          <div class="row"> 
            <div class="col-sm-12">{{status}}</div>
            <div class="col-sm-12">
              <h2 class="fw-bold text-center display-5">Lições EBD</h2>
            </div>
            <div class="col-sm-12"><hr></div>
            <div class="col-sm-6">
              <button class="btn btn-primary" data-toggle="modal" data-target="#modal_cadastro">Cadastro das Lições</button>
            </div>
            <div class="col-sm-12"><hr></div>
          </div>
        </section>
      </div>
		</div>

    <form id="form_calendario_semanal" action="/calendario" method="POST">
      <input type="hidden" name="calendario_semanal" id="calendario_semanal">
    </form>

  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <script src="{{ url_for('static', filename='js/textFit.min.js') }}"></script>

  <script>

    window.onload = function() {
      $("#loading").remove();

      $(".codex-editor__redactor").css('padding-bottom', '0px');
    };

  </script>
      
  </body>
</html>
