<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Lições EBD</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/navbar-top-fixed.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">      
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Simular original -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> -->

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">

    <style>

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: black;
      }

      .box-index {
        box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
        color: blue;
        font-weight: bold;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .container {
        color:black;
      }

      .image_area {
          position: relative;
      }

      img {
          display: block;
          width: 30vw;
          height: auto;
          border: solid;
          border-width: thin;
      }

      .overlay {
          position: absolute;
          bottom: 1.7vh;
          background-color: rgba(0, 0, 0, 0.5);
          overflow: hidden;
          height: 0;
          transition: .5s ease;
          width: 30vw;
      }

      .lb_principal {
          cursor: pointer;
      }

      .lb_principal:hover .overlay {
          height: 50%;
      }

      .text-hover {
        color:white;
      }

      .cdx-marker {
        color:rgba(192,0,0);
        font-weight:bold;
        background:rgba(0,0,0,0)
      }

    </style>
  </head>

  <body>

    <div class="modal fade" id="modal_cadastro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Cadastro das Lições</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Lição 01</span>
            <input type="date" class="form-control bordered" name="licao1date" id="licao1date">
            <span class="input-group-text" id="basic-addon2">Título:</span>
            <input type="text" class="form-control bordered" name="licao1title" id="licao1title">          
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Texto Áureo</span>
            <textarea class="form-control" id="licao1textoaureo" name="licao1textoaureo" rows="3"></textarea>
            <span class="input-group-text" id="basic-addon2">Verdade Prática</span>
            <textarea class="form-control" id="licao1vdd" name="licao1vdd" rows="3"></textarea>
          </div>          

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btn_confirmar">Confirmar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div> 
    
    {% block menu_superior %}
      {% include 'menu_superior.html' %}
    {% endblock %}    

		<div class="wrapper d-flex align-items-stretch">
    {% block menu_lateral %}
      {% include 'menu_lateral.html' %}
    {% endblock %}    
    

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <section class="container">
          <div id="loading"><div class="loader"></div></div>
          <div class="row"> 
            <div class="col-sm-12">{{status}}</div>
            <div class="col-sm-12">
              <h2 class="fw-bold text-center display-5">Lições EBD</h2>
            </div>
            <div class="col-sm-12"><hr></div>
            <div class="col-sm-6">
              <button class="btn btn-primary" data-toggle="modal" data-target="#modal_cadastro">Cadastro das Lições</button>
            </div>
            <div class="col-sm-12"><hr></div>
            <div class="col-sm-6">
              <h2 class="fw-bold text-center">{{trimestre}}</h2>


              <div class="image_area text-center">
                  <form method="post">
                      <label class="lb_principal" for="upload_image">
                          <img src="{{ url_for('static', filename=capa) }}?{{now_txt}}" id="uploaded_image" class="rounded foto" />
                          <div class="overlay text-center">
                              <h3 class="text-hover">Clique para Adicionar Foto da Capa</h3>
                          </div>
                          <input type="file" name="image" class="image" id="upload_image" style="display:none">
                      </label>
                  </form>
              </div>

            </div>

            <div class="col-sm-6">
              
            </div>

          </div>
        </section>
      </div>
		</div>

    <form id="form_calendario_semanal" action="/calendario" method="POST">
      <input type="hidden" name="calendario_semanal" id="calendario_semanal">
    </form>

  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <script src="{{ url_for('static', filename='js/textFit.min.js') }}"></script>

  <script>

    window.onload = function() {
      $("#loading").remove();

      $(".codex-editor__redactor").css('padding-bottom', '0px');
    };

    $("#upload_image").on('change', function() {
      var form_data = new FormData();

      form_data.append('file', $(this).prop('files')[0]);

      $.ajax({
          type: 'POST',
          url: '/licoesebd',
          data: form_data,
          contentType: false,
          cache: false,
          processData: false,
          success: function(data) {
              $("#uploaded_image").attr('src', data);
          },
      });
    });

  </script>
      
  </body>
</html>
