<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Controlador Principal</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/navbar-top-fixed.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">      
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Simular original -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> -->

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: black;
      }



      .box-index {
        box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
        color: blue;
        font-weight: bold;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    #anterior,
    #proximo {
      color: white;
    }

    .ce-paragraph {
        border-bottom: solid;
    }

    #previewSlide {
      width: 426px; /* or whatever width you want. */
      height: 240px; /* or whatever width you want. */
      display: inline-block;    
      background-color: black;
      color: white;
      line-height: normal;
      font-family: Arial, Helvetica, sans-serif;
    }

    #previewSubtitle {
      width: 426px; /* or whatever width you want. */
      height: 50px; /* or whatever width you want. */
      display: inline-block;    
      background-color: rgb(0, 0, 0, 0.8); 
      color: white;
      line-height: normal;
      font-family: Arial;      
    }

    .preview {
      width: 426px;
    }

    .view-marker {
      color:rgba(255,207,102);
      font-weight:bold;
      background:rgba(0,0,0,0)
    }

    </style>
    
  </head>

  <body>
    
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="../slide"><i class="fa-solid fa-display">&nbsp;</i>Abrir Slide</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../subtitle"><i class="fa-solid fa-closed-captioning">&nbsp;</i>Abrir Legenda</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
					<i class="fa fa-bars"></i>
					<span class="sr-only">Toggle Menu</span>
					</button>
				</div>
				<div class="p-4 pt-5">
		  		<h1><a href="index.html" class="logo">Slides</a></h1>
	        <ul class="list-unstyled components mb-5">

	          <li class="active">
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
	            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Home 1</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
	            </ul>
	          </li>

	        </ul>

	        <!--<div class="footer">
	        	<p> Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
					    Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. </p>
	        </div> -->

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <section class="container">
          <div class="row">
            <h1 class="fw-light text-center">Editor de Slide Música</h1>
            <div class="col-sm-6 mx-auto">
              <div class="card shadow-sm preview">
                <div id="previewSlide" class="text-center"></div>
                <div class="card-body">
                  <h1 class="card-text text-center" id="slideAtual">Prévia Slide</h1>
                </div>
              </div>        
            </div>
            <div class="col-sm-6">
              <div class="card shadow-sm preview">
                <div id="previewSubtitle" class="text-center"></div>
                <div class="card-body">
                  <h4 class="card-text text-center" id="proximoSlide">Prévia Legenda</h4>
                </div>
              </div>        
            </div> 
          </div>
        </section>
        <div class="row">
            <div class="col-sm-12"><hr></div>
            <div class="col-sm-12 text-center"><h4>Digite o texto do slide aqui e no parágrafo abaixo a legenda.</h4></div>
            <div class="col-sm-12 text-center">
              <button id="btn_view" class="btn btn-secondary">Pré-visualizar</button>
            </div>            
            <div class="col-sm-12">
              <div id="editorjs"></div>
            </div>
        </div>
      </div>
		</div>

  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/textFit.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/marker.umd.js') }}"></script>
  <script src="{{ url_for('static', filename='js/underline.umd.js') }}"></script>
  <script src="{{ url_for('static', filename='js/editorjs.umd.js') }}"></script>

  
<script>

  const btn_view = document.getElementById('btn_view');
  const editor = new EditorJS({
    /**
    * Id of Element that should contain Editor instance
    */
    holder: 'editorjs',

    inlineToolbar: ['bold', 'italic', 'underline', 'Marker'],

    tools: {
      // ...
      underline: Underline,
      Marker: {
        class: Marker,
        shortcut: 'CMD+SHIFT+M',
      }
    }
  });

  btn_view.addEventListener('click', function () {
    editor.save()
      .then( data => {
        if (data['blocks'].length % 2 === 0) {

          slide = [];
          cont = 1;

          for (i = 0; i < data['blocks'].length; i += 2) {
            slide.push({'pos':cont, 'text-slide':data['blocks'][i]['data']['text'].replaceAll('cdx-marker', 'view-marker'), 'subtitle':data['blocks'][i + 1]['data']['text']})
            cont++;
          }

          $("#previewSlide").html(slide[0]['text-slide']);
          textFit($('#previewSlide'), {alignVert: true, multiLine: true, minFontSize: 20, maxFontSize: 43});

          $("#previewSubtitle").html(slide[0]['subtitle']);
          textFit($('#previewSubtitle'), {alignVert: true, multiLine: true, minFontSize: 20, maxFontSize: 43});
        }
      })
      .catch((error) => {
        console.error('Saving error', error);
      });
  });

</script>
      
  </body>
</html>
