<!doctype html>
<html lang="pt-BR">
  <head>
    <title>Teste Gerar PDF</title>
  </head>

  <body>
    <h3>Gerar PDF</h3>
      
    <script src="{{ url_for('static', filename='jspdf/jspdf.umd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='font-custom/BebasKai-normal.js') }}"></script>
    <script src="{{ url_for('static', filename='font-custom/GreatVibes-Regular-normal.js') }}"></script>  
    <script src="{{ url_for('static', filename='js/gerador_pdf.js') }}"></script>  
    <script>

      var lista = {{lista}};

      console.log(lista);

      gerarPDF(lista);

    </script>

  </body>
</html>
