<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Abrir Harpa</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/navbar-top-fixed.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">      
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    

    <!-- Simular original -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> -->

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">

    <style>

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: black;
      }
   

      .box-index {
        box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
        color: blue;
        font-weight: bold;
      }

      .paragrafo {
        margin-bottom: 10px;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    #anterior,
    #proximo {
      color: white;
    }

    .ce-paragraph {
        border-bottom: solid;
    }

    #txt_anotacao,
    #txt_titulo {
      border: solid;
      border-color: rgb(0, 0, 0, 0.3);
    }    

    #previewSlide {
      width: 426px; /* or whatever width you want. */
      height: 240px; /* or whatever width you want. */
      display: inline-block;    
      background-color: black;
      color: white;
      line-height: normal;
      font-family: Arial, Helvetica, sans-serif;
    }

    #previewSubtitle {
      width: 426px; /* or whatever width you want. */
      height: 50px; /* or whatever width you want. */
      display: inline-block;    
      background-color: rgb(0, 0, 0, 0.8); 
      color: white;
      line-height: normal;
      font-family: Arial;      
    }

    .arrows,
    .preview {
      width: 426px;
    }

    .view-marker {
      color:rgba(255,207,102);
      font-weight:bold;
      background:rgba(0,0,0,0)
    }

    .arrow {
      font-size: xx-large;
    }

    #editorjs_s,
    #editorjs {
      color:black;
    }

    #letras_musicas,
    #detalhes_musicas {
      color: black;
    }

    .cdx-num {
      color:#0070C0;
    }

    .red {
      color:#FF0000;
    }

    #lb_titulo {
      color:#978473;
      font-weight: bold;
      border:solid 1px rgb(0,0,0,0);
      position:absolute;
      left: 20px;
      top: 70px;
      text-align: center;

      width: 50%;
      height: 35px;
    }

    #lb_numero {
      color:#978473;
      font-size:40px;
      font-style: italic;
      position: absolute;
      left: 55px;
      top:-10px;
    }    

    #lb_autor {
      color:black;
      border:solid 1px rgb(0,0,0,0);
      position:absolute;
      left: 20px;
      top: 105px;
      text-align: center;

      width: 50%;
      height: 30px;      
    }


    .Forte {
      background-color: rgb(115, 249, 139);
      border-radius: 5px;
      padding: 2%;
    }

    .Médio {
      background-color: rgb(250, 191, 135);
      border-radius: 5px;
      padding: 2%;
    }

    .Fraco {
      background-color: rgb(249, 159, 237);
      border-radius: 5px;
      padding: 2%;
    }

    .text {
      background-color: rgb(255, 255, 255);
      border-radius: 5px;
      padding: 1%;
      margin-top: 10px;
    }

    .cdx-marker {
      color:rgba(192,0,0);
      font-weight:bold;
      background:rgba(0,0,0,0);
    }   

    #txt_pesquisa_letra,
    #txt_senha,
    #txt_filtro {
      border: solid;
      border-color: rgb(0, 0, 0, 0.3);
    }   

    #lista_geral a.toggled { display: none; }

    #lista_geral a.toggled-vinc { display: none; }

    img {
        display: block;
        height: 200px;
        width: 100%;
        border: solid;
        border-width: thin;
    }

    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    #cb_versao {
      width: 70%;
    }

    #btn_add_versao {
      width: 100%;
    }

    </style>
    
  </head>

  <body>

    <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmar Etapa de Digitação</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="verificarSenhaHarpa" method="post">
          <div class="modal-body">
            <label for="txt_senha" class="form-label">Digite a senha do Administrador para prosseguir:</label>
            <input type="password" name="senha" class="form-control" id="txt_senha" placeholder="Digite a senha">
            <input type="hidden" name="destino" id="destino" value="0">
            <input type="hidden" name="id_versao" id="id_versao" value="0">
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Confirmar">
            </form>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div> 

    {% block menu_superior %}
      {% include 'menu_superior.html' %}
    {% endblock %}


		<div class="wrapper d-flex align-items-stretch">
    {% block menu_lateral %}
      {% include 'menu_lateral.html' %}
    {% endblock %}

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <section class="container">
          <div class="row">
            <div id="status" class="col-sm-12">{{status}}</div>
            <div id="loading" class="col-sm-12 text-center" hidden>
              <div class="spinner-border text-danger" role="status">
                <span class="sr-only">Carregando...</span>
              </div><span class="center">&nbsp;Renderizando PDF... Por favor aguarde.</span>
            </div>
            <div class="col-sm-12">
              <h2 class="fw-bold">Abrir Hino da Harpa</h2>
            </div>
          </div>
          <div class="row d-flex align-items-center">
            <div class="col-sm-8">
              <button id="btn_nova_musica" class="btn btn-primary" data-toggle="modal" data-target="#modalConfirm"><i class="fa-solid fa-plus"></i> Novo Hino</button>
              <button id="btn_editar_musica" class="btn btn-secondary" data-toggle="modal" data-target="#modalConfirm" disabled><i class="fa-solid fa-pen-to-square"></i> Editar Selecionado</button>
              <button id="btn_gerar_pdf" class="btn btn-danger"><i class="fa-solid fa-file-pdf"></i> Gerar PDF da Harpa</button>
            </div>
            
            <div class="col-sm-3">
              <form method="post" action="pesquisarLetra">
              <input type="text" name="pesquisa" class="form-control" id="txt_pesquisa_letra" placeholder="Pesquisa Profunda (letras e títulos)">
            </div>
            <div class="col-sm-1">
              <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
              </form>
            </div>

            <div class="col-sm-12">
              <hr>
            </div>

            <div class="col-sm-12">
                <p>
                  <button id="btn_iniciar_apresentacao" class="btn btn-info" disabled><i class="fa-solid fa-circle-play"></i> Iniciar Apresentação</button>
                  <button id="btn_adicionar_roteiro" class="btn btn-success" disabled><i class="fa-solid fa-list-check"></i> Adicionar ao Roteiro</button>
                </p>           
            </div>          

          </div>
          <div class="row">
            <div class="col-sm-3">
              <div id="lista_geral" class="list-group">
                <label for="txt_filtro" class="form-label">Filtrar por Titulo:</label>
                <input type="text" class="form-control" id="txt_filtro" placeholder="Digite o Nome da Música" value="{{titulo}}">                
                <br>
                {% for item in harpa %}
                  <a href="#" class="list-group-item list-group-item-action" data-id="{{item['id']}}">{{'%03d' % item['id']}}. {{item['descricao']}}</a>
                {% endfor %}
              </div>              
            </div>
            <div id="letras_musicas" class="col-sm-5"></div>
            <div id="detalhes_musicas" class="col-sm-4"></div>
          </div>
        </section>
      </div>
		</div>

  <form id="formEnviarDados" method="post" action="enviarDadosNovaMusica"><input id="json_data_send" name="json_data_send" type="hidden"></form>

  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/textFit.min.js') }}"></script>

  
<script>

  function pad(num, size) {
      var s = "000000000" + num;
      return s.substr(s.length-size);
  }

  $("#detalhes_musicas").on('change', '#cb_versao', function() {
    id = $(this).val();
    
    if (id > 0) {
      $("#letras_musicas").empty();
      $.ajax({
          type: "POST",
          url: "get_info_harpa_versionada",
          contentType: "application/json",
          data: JSON.stringify({'id':$('#cb_versao').val()}),
          dataType: "json",
          success: function(data) {  
            //console.log(data);
            $("#letras_musicas").append(data['titulo']);
            $("#letras_musicas").append('<div id="pagina_texto"></div>');
            for (par in data['letras']) {
              $("#pagina_texto").append('<p>' + data['letras'][par]['texto'] + '</p>');
            }
            $("#detalhes_musicas").append('<p><b>Nome da Versão: </b>' + $("#cb_versao").text() + '</p>');
            $("#detalhes_musicas").append('<p><b>Descrição da Versão: </b>' + $("#cb_versao").attr('data-desc') + '</p>');
          }
      });    
    }
  });

  $("#btn_adicionar_roteiro").on('click', function() {
    info = {'id':$("#lista_geral a.active").attr('data-id'), 'tipo':'harpa', 'check':false, 'titulo':'HINO ' + pad($("#lista_geral a.active").attr('data-id'), 3), 'tipo_show':'Harpa'};

    $.ajax({
        type: "POST",
        url: "adicionar_roteiro",
        contentType: "application/json",
        data: JSON.stringify(info),
        dataType: "json",
        success: function(data) {
            if (data) {
              $("#status").append('<div class="alert alert-success alert-dismissible fade show" role="alert">Apresentação do hino <strong>' + $("#lista_geral a.active").text() + '</strong> adicionada ao roteiro com sucesso. <a href="/">Clique aqui</a> para abrir a lista do Roteiro.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
            }
        },
    }); 

  });


  $("#btn_iniciar_apresentacao").on('click', function() {
    info = {'id':$("#lista_geral a.active").attr('data-id'), 'tipo':'harpa'};
    
    $.ajax({
        type: "POST",
        url: "iniciar_apresentacao",
        contentType: "application/json",
        data: JSON.stringify(info),
        dataType: "json",
        success: function(data) {
            if (data) {
              $("#status").append('<div class="alert alert-success alert-dismissible fade show" role="alert">Apresentação do hino <strong>' + $("#lista_geral a.active").text() + '</strong> iniciada com sucesso. <a href="/controlador">Clique aqui</a> para abrir o Controlador.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
            }
        },
    });    

  });

  $('#txt_filtro').on('keyup', function (e) {
    var value = $(this).val().toLowerCase();
    $("#lista_geral a").toggleClass('toggled', true);
    $("#lista_geral a").filter(function() {
      if ($(this).text().toLowerCase().indexOf(value) > -1) {
        $(this).removeClass('toggled');
      }
      //console.log($(this).find("label").find("input").data("pasta"))
    });
  });

  $("#btn_nova_musica").on('click', function() {
    $("#destino").val('0');
  });

  $("#btn_editar_musica").on('click', function() {
    $("#destino").val($("#lista_geral a.active").attr('data-id'));
  });

  $("#detalhes_musicas").on('click', '#btn_add_versao', function() {
    $("#destino").val('-1');
    $("#id_versao").val($("#lista_geral a.active").attr('data-id'));
  });

  $("#lista_geral").on('click', '.list-group-item', function() {
    $(".list-group-item").removeClass('active');
    $(this).addClass('active');

    $("#letras_musicas").empty();
    $("#detalhes_musicas").empty();
    $("#letras_musicas").append('<h4><span class="fw-bold text-primary">' + $(this).text().substring(0, 4) + ' </span><span class="text-primary">' + $(this).text().substring(5, 100) + '</span></h4>');

    info = {'id':$(this).attr('data-id')};

    $.ajax({
        type: "POST",
        url: "get_info_harpa",
        contentType: "application/json",
        data: JSON.stringify(info),
        dataType: "json",
        success: function(data) {
            //console.log(data);

            // adicionar imagem da capa
            $("#detalhes_musicas").append("<img src='/static/images/Harpa.jpg'></img><br>");
            $("#detalhes_musicas").append("<div id='lb_numero'>" + data['numero'] + "</div>");
            $("#detalhes_musicas").append("<div id='lb_titulo'>" + data['titulo'] + "</div>");
            textFit($("#lb_titulo"), {alignVert: true, multiLine: false, minFontSize: 20, maxFontSize: 230});
            $("#detalhes_musicas").append("<div id='lb_autor'>" + data['autor'] + "</div>");
            textFit($("#lb_autor"), {alignVert: true, multiLine: false, minFontSize: 20, maxFontSize: 230});

            if (data['versoes'].length > 0) {
              select = '<label for="cb_versao">Versões</label>';
              select += '<div class="input-group mb-3">';
              select += '<select id="cb_versao" name="cb_versao">';
              select += '<option value="0">Padrão</option>';

              for (versao in data['versoes']) {
                select += '<option value="' + data['versoes'][versao]['id'] + '" data-desc="' + data['versoes'][versao]['desc_versao'] + '">' + data['versoes'][versao]['titulo_versao'] + '</option>';
              }

              select += '</select>'
              select += '<div class="input-group-append">';
              select += '<button class="btn btn-primary" id="btn_add_versao" data-toggle="modal" data-target="#modalConfirm">+</button>';
              select += '</div>';            
              select += '</div>';

              $("#detalhes_musicas").append(select);
            }
           
            $("#letras_musicas").append('<div id="pagina_texto"></div>');


            for (letra in data['letras']) {
              $("#pagina_texto").append('<p>' + data['letras'][letra]['texto'].replaceAll('<mark ', '<span ').replaceAll('</mark>', '</span> ') + '</p>');
            }

            $("#btn_editar_musica").removeAttr('disabled');
            $("#btn_iniciar_apresentacao").removeAttr('disabled');
            $("#btn_adicionar_roteiro").removeAttr('disabled');
        },
    });    

    console.log(info);
  });

</script>
      
  </body>
</html>
