<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Adicionar Registro de Evento</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/navbar-top-fixed.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">      
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Simular original -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> -->

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: black;
      }

      .box-index {
        box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
        color: blue;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .form-custom {
        border: solid;
        border-color: rgb(0, 0, 0, 0.3);     
      }

      .loader {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        bottom: 0;
        margin: auto;
        border: 20px solid #EAF0F6;
        border-radius: 50%;
        border-top: 20px solid #FF7A59;
        width: 200px;
        height: 200px;
        animation: spinner 4s linear infinite;
      }
      @keyframes spinner {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }       

      #loading {
        background-color: white;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
      }

      .btn-youtube {
        color: red;
      }

      .btn-youtube:hover {
        color: #74C0FC;
      }

      /*.table-dark-2 {
        background-color: black !important;
        font-size: larger;
      }*/

      #tb-principal {
        border: solid 1px black;
      }

      .text {
        color: black;
        margin-bottom: 0px;
      }

      #tb-detalhes {
        margin-top: 20px;
      }

      #tb-detalhes .titulo-item
      {
          max-width: 10vw;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
      }      

      .form-custom {
        border: solid 1px black;
        border-color: #DEE2E6;
      }

      #ls-principal a.toggled { display: none; }

      .toggled { display: none; }

    #selecionarMusica,
    #selecionarHarpa,
    #selecionarBiblia {
      border: none;
      background-color: rgb(201, 130, 0);
      padding: 0px 38px 0px 8px;
      border-radius: 4px;
      color: white;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 24px center;
      margin-right: 10px;
      height: 100%;
    }  

    #txt_filtro_musica,
    #txt_filtro_harpa,
    #txt_filtro_biblia {
      width: 90%;
      position: relative;
      left: 5%;
      border: solid black;
    }  

    .cdx-marker {
        color:rgba(192,0,0);
        font-weight:bold;
        background:rgba(0,0,0,0);
      }

      .cdx-underline-view {
          text-decoration: underline;
          text-decoration-color: rgb(0,0,0,0.5);
      }   

      .cdx-marker .cdx-underline-view {
          text-decoration-color: rgb(192,0,0,0.5);
      }    

    .cdx-num {
      color:#0070C0;
    }

    .red {
      color:#FF0000;
    }      
       
    .nd {
      font-variant: small-caps;
    }

    .add {
      font-style: italic;
    }

    .sc {
      font-variant: small-caps;
    }

    .heading {
      font-weight: bold;
    }

    .wj {
      color: red;
    }    

    .t_vers {
      font-size: 30px;
    }

    .auto_hifen {
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }


    </style>
  </head>

  <body>
    
    {% block menu_superior %}
      {% include 'menu_superior.html' %}
    {% endblock %}    

		<div class="wrapper d-flex align-items-stretch">
    {% block menu_lateral %}
      {% include 'menu_lateral.html' %}
    {% endblock %}    


    <script>
      if (window.innerWidth < 1367) {
        var sidebar = document.getElementById("sidebar");
        sidebar.classList.add("active");
      }
    </script>

    <div class="modal fade" id="show_biblia" tabindex="-1" role="dialog" aria-labelledby="showBibliaLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="showBibliaLabel">Detalhes do Capítulo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="texto_biblia" class="text"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>    

    <div class="modal fade" id="show_musica" tabindex="-1" role="dialog" aria-labelledby="showMusicaLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="showMusicaLabel">Detalhes do Hino/Música</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="letras_musicas" class="text"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    

      <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirmar Etapa de Digitação</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="verificarSenhaHistorico" method="post">
            <div class="modal-body">
              <label for="txt_senha" class="form-label">Digite a senha do Administrador para prosseguir:</label>
              <input type="password" name="senha" class="form-control" id="txt_senha" placeholder="Digite a senha">
            </div>
            <div class="modal-footer">
              <input type="submit" class="btn btn-primary" value="Confirmar">
              </form>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div> 

        <!-- Page Content  -->    
      <div id="content" class="p-4 p-md-5 pt-5">
        <div id="loading"><div class="loader"></div></div>
        <section class="container">

          <div class="row">
            <div class="col-sm-12">{{feedback}}</div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <label for="cb_ano">Ano</label>
              <select id="cb_ano" class="form-select">
                {% for ano in anos %}
                <option value="{{ano}}">{{ano}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-sm-2">
              <label for="cb_mes">Mês</label>
              <select id="cb_mes" class="form-select">
                <option value="00" selected>Todos</option>
                <option value="01">Janeiro</option>
                <option value="02">Fevereiro</option>
                <option value="03">Março</option>
                <option value="04">Abril</option>
                <option value="05">Maio</option>
                <option value="06">Junho</option>
                <option value="07">Julho</option>
                <option value="08">Agosto</option>
                <option value="09">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
              </select>
            </div>

            <div class="col-sm-8">
              <form action="{{ url_for('historico') }}" method="post">  
              <label for="cb_ano">Filtro:</label>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Evento:</span>
                <select class="form-select" name="Tema">
                  <option value="0">Todos</option>
                  {% for item in filtro_temas %}
                  <option value="{{item['id']}}">{{item['descricao']}}</option>
                  {% endfor %}
                </select>
                <span class="input-group-text" id="basic-addon2">Atividade:</span>
                <select id="cb_tipo_evento" class="form-select" name="id_tipo_evento">
                  <option value="0">Todos</option>
                  {% for item in filtro_eventos %}
                  <option value="{{item['id']}}">{{item['descricao']}}</option>
                  {% endfor %}
                </select>   
                <span class="input-group-text" id="basic-addon3">Obs:</span>             
                <input type="text" name="OBS" class="form-control form-custom">
              </div>

              <div id="painel_filtro_musicas" class="input-group mb-3">

                <input id="input_musica" type="hidden" name="id_musica" value="0">

                <div class="dropright">
                  <button class="btn btn-secondary" type="button" id="selecionarMusica" data-toggle="dropdown" aria-expanded="false">
                    Selecione a Música
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="selecionarMusica">
                    <input type="text" id="txt_filtro_musica">
                    {% for item in musicas %}              
                    <li><a class="dropdown-item item-musica" href="#" data-id="{{item['id']}}">{{item['titulo']}}</a></li>
                    {% endfor %}
                    <div class="dropdown-divider noResult toggled"></div>
                    <span class="dropdown-item-text toggled noResult">Nenhum resultado</span>
                  </ul>
                </div>

                <span class="input-group-text" id="basic-addon4">Depart:</span>
                <select class="form-select" name="id_departamento">
                  <option value="0">Todos</option>
                  {% for item in filtro_departamentos %}
                  <option value="{{item['id']}}">{{item['descricao']}}</option>
                  {% endfor %}
                </select>
                <span class="input-group-text" id="basic-addon5">Cat:</span>
                <select class="form-select" name="id_cat_musica">
                  <option value="0">Todos</option>
                  {% for item in filtro_cat_musicas %}
                  <option value="{{item['id']}}">{{item['descricao']}}</option>
                  {% endfor %}
                </select>
            </div>

            <div id="painel_filtro_harpa" class="input-group mb-3">
            
                <input id="input_harpa" type="hidden" name="id_harpa" value="0">

                <div class="dropright">
                  <button class="btn btn-secondary" type="button" id="selecionarHarpa" data-toggle="dropdown" aria-expanded="false">
                    Selecione a Harpa
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="selecionarHarpa">
                    <input type="text" id="txt_filtro_harpa">
                    {% for item in harpa %}              
                    <li><a class="dropdown-item item-harpa" href="#" data-id="{{item['id']}}">{{ '%03d' | format(item['id']) }} - {{item['titulo']}}</a></li>
                    {% endfor %}
                    <div class="dropdown-divider noResult toggled"></div>
                    <span class="dropdown-item-text toggled noResult">Nenhum resultado</span>
                  </ul>
                </div>

                <span class="input-group-text" id="basic-addon4">Depart:</span>
                <select class="form-select" name="id_departamento">
                  <option value="0">Todos</option>
                  {% for item in filtro_departamentos %}
                  <option value="{{item['id']}}">{{item['descricao']}}</option>
                  {% endfor %}
                </select>
                <span class="input-group-text" id="basic-addon5">Cat:</span>
                <select class="form-select" name="id_cat_musica">
                  <option value="0">Todos</option>
                  {% for item in filtro_cat_musicas %}
                  <option value="{{item['id']}}">{{item['descricao']}}</option>
                  {% endfor %}
                </select>

            </div>

            <div id="painel_filtro_biblia" class="input-group mb-3">
            
                <input id="input_biblia" type="hidden" name="id_livro_biblia" value="0">

                <div class="dropright">
                  <button class="btn btn-secondary" type="button" id="selecionarBiblia" data-toggle="dropdown" aria-expanded="false">
                    Selecione o Livro da Bíblia
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="selecionarBiblia">
                    <input type="text" id="txt_filtro_biblia">
                    {% for item in livros %}              
                    <li><a class="dropdown-item item-biblia" href="#" data-id="{{item['id']}}">{{item['titulo']}}</a></li>
                    {% endfor %}
                    <div class="dropdown-divider noResult toggled"></div>
                    <span class="dropdown-item-text toggled noResult">Nenhum resultado</span>
                  </ul>
                </div>

                <span class="input-group-text" id="basic-addon4">Tipo Leitura:</span>
                <select class="form-select" name="id_cat_biblia">
                  <option value="0">Todos</option>
                  {% for item in filtro_tipos_leitura %}
                  <option value="{{item[id]}}">{{item['descricao']}}</option>
                  {% endfor %}
                </select>
                <span class="input-group-text" id="basic-addon5">Cap:</span>
                <input id="txt_cap" type="number" class="form-control form-custom" name="cap_biblia" placeholder="Capítulo" min="1" max="150">

            </div>

              <button type="submit" class="btn btn-primary">Filtrar</button>
              <button id="btn_limpar" type="reset" class="btn btn-secondary">Limpar</button>            
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalConfirm">Novo Registro</button>

            </form>
          </div>

          <div class="row mt-3">
            <div class="col-sm-4">
              <h3>Lista de Eventos</h3>
              <div id="ls-principal" class="list-group">
                {% for evento in eventos %}
                <a href="#" class="list-group-item list-group-item-action evt-{{evento['tema_id']}}" data-id="{{evento['id']}}" data-mes="{{evento['mes']}}" data-ano="{{evento['ano']}}">{{evento['data']}} <b>({{semana_sqlite[evento['semana']|int][0:3]}})</b> - {{evento['tema']}}</a>
                {% endfor %}
              </div>
            </div>

            <div id="painel_detalhes" class="col-sm-8">
              <!-- Enquanto não exibe os detalhes de um evento específico, mostra os top 10 das categorias -->
              <h3>Top 10 - Itens mais executados</h3>
              <canvas id="chart_harpa"></canvas>
              <canvas id="chart_musicas"></canvas>
              <canvas id="chart_biblia"></canvas>
            </div>

          </div>

        </section>
      </div>
		</div>

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modulo_view.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
    
    <script>

        const top10Harpa = {{ top_10_harpa|tojson }};
        const top10Musicas = {{ top_10_musicas|tojson }};
        const top10Biblia = {{ top_10_biblia|tojson }};

        const myChart_harpa = new Chart(document.getElementById('chart_harpa'), {
          type: 'bar',
          data: {
            labels: top10Harpa.map(item => item.id_harpa + '. ' + item.titulo),
            datasets: [{
              label: 'Quantidade de Eventos',
              data: top10Harpa.map(item => item.qtd),
              backgroundColor: 'rgba(255, 122, 89, 0.5)',
              borderColor: 'rgba(255, 122, 89, 1)',
              borderWidth: 1
            }]
          },
          options: {
            indexAxis: 'y',
            scales: {
              x: {
                ticks: {
                  stepSize: 1,
                  precision: 0
                },
                beginAtZero: true
              }
            },
            plugins: {
              title: {
                display: true,
                text: 'Top 10 - Harpa Cristã',
                font: {
                  size: 24
                }              
              },
              legend: {
                display: false
              }
            }
          }
        });


        const myChart_musicas = new Chart(document.getElementById('chart_musicas'), {
          type: 'bar',
          data: {
            labels: top10Musicas.map(item => item.titulo),
            datasets: [{
              label: 'Quantidade de Eventos',
              data: top10Musicas.map(item => item.qtd),
              backgroundColor: 'rgba(89, 131, 255, 0.5)',
              borderColor: 'rgba(89, 131, 255, 1)',
              borderWidth: 1
            }]
          },
          options: {
            indexAxis: 'y',
            scales: {
              x: {
                ticks: {
                  stepSize: 1,
                  precision: 0
                },
                beginAtZero: true
              }
            },
            plugins: {
              title: {
                display: true,
                text: 'Top 10 - Músicas',
                font: {
                  size: 24
                }              
              },
              legend: {
                display: false
              }
            }
          }
        });

        const myChart_biblia = new Chart(document.getElementById('chart_biblia'), {
          type: 'bar',
          data: {
            labels: top10Biblia.map(item => item.titulo),
            datasets: [{
              label: 'Quantidade de Eventos',
              data: top10Biblia.map(item => item.qtd),
              backgroundColor: 'rgba(0, 192, 0, 0.5)',
              borderColor: 'rgba(0, 192, 0, 1)',
              borderWidth: 1
            }]
          },
          options: {
            indexAxis: 'y',
            scales: {
              x: {
                ticks: {
                  stepSize: 1,
                  precision: 0
                },
                beginAtZero: true
              }
            },
            plugins: {
              title: {
                display: true,
                text: 'Top 10 - Livros da Bíblia',
                font: {
                  size: 24
                }              
              },
              legend: {
                display: false
              }
            }
          }
        });


      window.onload = function() {
        $("#painel_filtro_musicas").hide();
        $("#painel_filtro_harpa").hide();
        $("#painel_filtro_biblia").hide();

        $("#loading").remove();    
      };

    document.onkeydown = checkKey;

      function checkKey(e) {

          e = e || window.event;

          switch (e.keyCode) {
            case 40:
              e.preventDefault();
              move_down();
              break;
            case 38:
              e.preventDefault();
              move_up();
              break;
          }
      }    

      function move_down() {
        const current = document.querySelector('#ls-principal a.active');

        if (current) {
          let next = current.nextElementSibling;

          // Procurar o próximo irmão que seja uma <a> e que NÃO tenha a classe 'toggled'
          while (next && (next.tagName.toLowerCase() !== 'a' || next.classList.contains('toggled'))) {
            next = next.nextElementSibling;
          }

          if (next) {
            current.classList.remove('active');
            next.classList.add('active');

            const dataId = next.dataset.id;
            carregarDetalhes(dataId);
          }
        }
      }

      function move_up() {
        const current = document.querySelector('#ls-principal a.active');

        if (current) {
          let prev = current.previousElementSibling;

          // Procurar o anterior que seja um <a> e que NÃO tenha a classe 'toggled'
          while (prev && (prev.tagName.toLowerCase() !== 'a' || prev.classList.contains('toggled'))) {
            prev = prev.previousElementSibling;
          }

          if (prev) {
            current.classList.remove('active');
            prev.classList.add('active');

            // Pegar o valor de data-id
            const dataId = prev.dataset.id;
            carregarDetalhes(dataId);
          }
        }        
      }

      $("#btn_limpar").on('click', function() {
        /*$("#painel_filtro_musicas").hide();
        $("#painel_filtro_harpa").hide();
        $("#painel_filtro_biblia").hide();*/

        $("#input_musica").val(0);
        $("#selecionarMusica").html('Selecione a Música <span class="caret"></span>');
        $(".item-musica").removeClass('active');

        $("#input_harpa").val(0);
        $("#selecionarHarpa").html('Selecione a Harpa <span class="caret"></span>');
        $(".item-harpa").removeClass('active');

        $("#input_biblia").val(0);
        $("#selecionarBiblia").html('Selecione o Livro da Bíblia <span class="caret"></span>');
        $(".item-biblia").removeClass('active');
      });

      $("#cb_tipo_evento").on('change', function() {
        const id = $(this).val();

        console.log("Tipo de Evento selecionado: " + id);

        $("#painel_filtro_musicas").hide();
        $("#painel_filtro_harpa").hide();
        $("#painel_filtro_biblia").hide();

        if (id == 3) { // Música
          console.log("Música selecionada");
          $("#painel_filtro_musicas").show();
          $("#input_musica").val(0);
          $("#selecionarMusica").html('Selecione a Música <span class="caret"></span>');
        } else if (id == 2) { // Harpa
          $("#painel_filtro_harpa").show();
          $("#input_harpa").val(0);
          $("#selecionarHarpa").html('Selecione a Harpa <span class="caret"></span>');
        } else if (id == 1) { // Bíblia
          $("#painel_filtro_biblia").show();
          $("#input_biblia").val(0);
          $("#selecionarBiblia").html('Selecione o Livro da Bíblia <span class="caret"></span>');
        }
      });

      $(".item-biblia").on('click', function(e) {
        e.preventDefault();

        const id = $(this).data('id');
        const titulo = $(this).text();

        $("#input_biblia").val(id);
        $("#selecionarBiblia").html(titulo + ' <span class="caret"></span>');

        $(".item-biblia").removeClass('active');
        $(this).addClass('active');

        $("#painel_filtro_biblia .noResult").addClass('toggled');
      });

      $(".item-musica").on('click', function(e) {
        e.preventDefault();

        const id = $(this).data('id');
        const titulo = $(this).text();

        $("#input_musica").val(id);
        $("#selecionarMusica").html(titulo + ' <span class="caret"></span>');

        $(".item-musica").removeClass('active');
        $(this).addClass('active');

        $("#painel_filtro_musicas .noResult").addClass('toggled');
      });

      $(".item-harpa").on('click', function(e) {
        e.preventDefault();

        const id = $(this).data('id');
        const titulo = $(this).text();

        $("#input_harpa").val(id);
        $("#selecionarHarpa").html(titulo + ' <span class="caret"></span>');

        $(".item-harpa").removeClass('active');
        $(this).addClass('active');

        $("#painel_filtro_harpa .noResult").addClass('toggled');
      });      

      $("#txt_filtro_musica").on('keyup', function() {
        val = $(this).val().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase();

        $(".item-musica").each(function(index) {
          //console.log($(this).text().toLowerCase().normalize("NFD") + " - " + val);
          if ($(this).text().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase().indexOf(val) !== - 1) {
            $(this).removeClass('toggled');
          } else {
            $(this).addClass('toggled');
          }
        });

        if ($(".item-musica").not('.toggled').length == 0) {
          $("#painel_filtro_musicas .noResult").removeClass('toggled');
        } else {
          $("#painel_filtro_musicas .noResult").addClass('toggled');
        }

      });

      $("#txt_filtro_harpa").on('keyup', function() {
        val = $(this).val().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase();

        $(".item-harpa").each(function(index) {
          //console.log($(this).text().toLowerCase().normalize("NFD") + " - " + val);
          if ($(this).text().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase().indexOf(val) !== - 1) {
            $(this).removeClass('toggled');
          } else {
            $(this).addClass('toggled');
          }
        });

        if ($(".item-harpa").not('.toggled').length == 0) {
          $("#painel_filtro_harpa .noResult").removeClass('toggled');
        } else {
          $("#painel_filtro_harpa .noResult").addClass('toggled');
        }

      });

      $("#cb_ano").on('change', function() {

        const ano = $(this).val();

        $("#ls-principal").empty();
        $("#painel_detalhes").empty();

        $.ajax({
          type: "POST",
          url: "{{ url_for('historico') }}",
          contentType: "application/json",
          data: JSON.stringify({destino:2, ano:ano}),
          dataType: "json",
          success: function(response) {
            console.log(response);

            for (let i = 0; i < response.length; i++) {
              $("#ls-principal").append(`<a href="#" class="list-group-item list-group-item-action ${response[i]['tema_id']}" data-id="${response[i]['id']}" data-mes="${response[i]['mes']}" data-ano="${response[i]['ano']}">${response[i]['data']} <b>(${response[i]['semana'].substring(0, 3)})</b> - ${response[i]['tema']}</a>`);
            }


            filtrarMes($("#cb_mes").val());
          },
          error: function(err) {
            console.log(err);
          }
        });          

      });

      function filtrarMes(mes) {

        if (mes == '00') {
          $("#ls-principal a").removeClass('toggled');
        } else {
          $("#ls-principal a").toggleClass('toggled', true);

          $("#ls-principal a").filter(function () {
            
            if ($(this).attr('data-mes') == mes) {
              $(this).removeClass('toggled');
            }
        
          });
        }
      }

      $("#cb_mes").on('change', function() {
        filtrarMes($(this).val());
      });

      function carregarDetalhes(id) {
        $.ajax({
          type: "POST",
          url: "{{ url_for('historico') }}",
          contentType: "application/json",
          data: JSON.stringify({destino:1, id:id}),
          dataType: "json",
          success: function(response) {
            const detalhes = response['detalhes'];
            const itens = response['itens'];

            console.log(itens);

            $("#painel_detalhes").empty();

            $("#painel_detalhes").append("<h3>Detalhes: " + `<a href="${detalhes['URL']}"><i class="fa-brands fa-youtube fa-1x btn-youtube"></i></a></h3>`);
            $("#painel_detalhes").append(`<p class="text"><b>Tipo: </b>${detalhes['tipo']}</p>`);
            $("#painel_detalhes").append(`<p class="text"><b>Data: </b>${detalhes['desc_dia']} (${detalhes['semana']})</p>`);
            $("#painel_detalhes").append(`<p class="text"><b>OBS: </b>${detalhes['OBS']}</p>`);
            $("#painel_detalhes").append(`<table id="tb-detalhes" class="table table-bordered"><tbody id="tbody-detalhes"></tbody></table>`);

            let tbody = "";

            for (let i = 0; i < itens.length; i++) {
              tbody += `<tr class="${itens[i]['cor']}">`;
              tbody += `<td>${itens[i]['tipo']}</td>`;
              tbody += `<td class="titulo-item"><a href="javascript:visualizar('${itens[i]['id_item']}', '${itens[i]['tipo']}')"><i class="fa-solid fa-eye"></i></a> ${itens[i]['desc_item']}</td>`;
              tbody += `<td>${itens[i]['departamento']}</td>`;
              tbody += `<td>${itens[i]['formato']}</td>`;
              tbody += "</tr>";
            }

            $("#tbody-detalhes").append(tbody);
          },
          error: function(err) {
            console.log(err);
          }
        });  
      }

      $("#ls-principal").on('click', '.list-group-item', function() {

        let id = $(this).attr('data-id');

        carregarDetalhes(id);

        $(".list-group-item").removeClass('active');
        $(this).addClass('active');
      });

    </script>
      
  </body>
</html>
