<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Home</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/navbar-top-fixed.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">      
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">   
    

    <!-- Simular original -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> -->

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      .close {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 0%;
        padding: 12px 16px;
        transform: translate(0%, -50%);
      }
      
      *.close:hover {color: red; font-weight: bold;}

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .text {
        text-align: center;
        color:black;
        font-size: 18px;
      }

    </style>
    
  </head>

  <body>

    {% block menu_superior %}
      {% include 'menu_superior.html' %}
    {% endblock %}


		<div class="wrapper d-flex align-items-stretch">
      {% block menu_lateral %}
        {% include 'menu_lateral.html' %}
      {% endblock %}

      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <section class="container">
          <main class="form-signin">
              <div class="text-center"><img class="mb-4" src="{{ url_for('static', filename='images/Logo Colorido.png') }}" alt="" width="200" height="250"></div>
              <h1 class="h3 mb-3 fw-normal text-center"><a style="font-weight: bold;">Slide Master Index 2</a><br>Roteiro de slides</h1>
          
              {% if roteiro|length > 0 %}
              <div class="form-floating">
                <ul class="list-group" id="presentations">
                  {% for slide in roteiro %}
                  <li class="list-group-item">
                    {% if slide['check'] == True %}
                    <label><input class="form-check-input me-1" type="checkbox" name="checkEL" value="{{ slide['id'] }}" checked>Afs</label>
                    {% else %}
                    <label><input class="form-check-input me-1" type="checkbox" name="checkEL" value="{{ slide['id'] }}">Afs</label>
                    {% endif %}
                    <span class="close">x</span>
                  </li>
                  {% endfor %}
               </ul>
              </div>
              <p>    </p>
              <form id="proxsld" method="post" action="{{ url_for('iniciar_apresentacao') }}">
                <input type="hidden" id="proximaPRS" name="proximaPRS" value="">
                <button id="next" class="w-100 btn btn-lg btn-secondary" type="button">Próxima Apresentação</button>
              </form>      
              {% else %}
              <p class="text fw-bold">A lista do Roteiro está vazia!</p>
              <p class="text"><a href="/abrir_musica">Clique aqui</a> para abrir uma <b>Música.</b></p>
              {% endif %}
            </main>          
        </section>
      </div>
		</div>

  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

      
  </body>
</html>
