<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Home</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/navbar-top-fixed.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">      
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">   
    

    <!-- Simular original -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> -->

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      .close_list {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 0%;
        padding: 12px 16px;
        transform: translate(0%, -50%);
      }
      
      *.close_list:hover {color: red; font-weight: bold;}

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .text {
        text-align: center;
        color:black;
        font-size: 18px;
      }

      .list-group-item {
        position:relative;  
        height: 50px; /*requires explicit height*/   
      }
      
      .list-group-item label {
        position:absolute;
        top: 50%; bottom: 0; left: 10px; right: 0;
        margin: auto;
        height: 50px; /*requires explicit height*/        
      }

    #miniatura {
        display: block;
        height: 300px;
        width: 100%;
        border: solid;
        border-width: thin;
        background-image: url("{{capa}}");  
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #lb_numero {
      color:#978473;
      font-size:70px;
      font-style: italic;
      position: relative;
      left: 55px;
      top:-23px;
    }

    #lb_titulo {
      color:#978473;
      font-weight: bold;
      border:solid 1px rgb(0,0,0,0);
      position:relative;
      left: 20px;
      text-align: center;

      width: 300px;
      height: 50px;
    }

    #lb_autor {
      color:black;
      border:solid 1px rgb(0,0,0,0);
      position:relative;
      left: 20px;
      top:0px;
      text-align: center;

      width: 300px;
      height: 40px;      
    }

    #txt_senha {
      border: solid;
      border-color: rgb(0, 0, 0, 0.3);
    }      

    </style>
    
  </head>

  <body>

    {% block menu_superior %}
      {% include 'menu_superior.html' %}
    {% endblock %}


		<div class="wrapper d-flex align-items-stretch">
      {% block menu_lateral %}
        {% include 'menu_lateral.html' %}
      {% endblock %}

      <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirmar Identidade de Administrador</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>              
            </div>
            <form action="verificarSenhaLog" method="post">
              <div class="modal-body">
                <label for="txt_senha" class="form-label">Digite a senha do Administrador para prosseguir:</label>
                <input type="password" name="senha" class="form-control" id="txt_senha" placeholder="Digite a senha">
                <input type="hidden" name="destino" id="destino" value="0">
                <input type="hidden" name="id_versao" id="id_versao" value="0">
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Confirmar">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <section class="container">
          <div id="status" class="col-sm-12">{{status}}</div>
          <main class="form-signin">
            <div class="text-center"><img class="mb-4" src="{{ url_for('static', filename='images/Logo Colorido.png') }}" alt="" width="200" height="250"></div>
            <h1 class="h3 mb-3 fw-normal text-center"><a style="font-weight: bold;">Slide Master Index II</a><br>Roteiro de slides</h1>
        
            {% if roteiro|length > 0 %}
            <div class="form-floating">
              <ul class="list-group" id="presentations">
                {% for slide in roteiro %}
                <li class="list-group-item list-group-item-action" data-titulo="{{slide['titulo']}}" data-tipo="{{slide['tipo']}}" data-tipo-show="{{slide['tipo_show']}}">
                  {% if slide['check'] == True %}
                  <label><input class="form-check-input me-1" type="checkbox" name="checkEL" value="{{ slide['id'] }}" checked>{{slide['titulo']}} <strong>({{slide['tipo_show']}})</strong></label>
                  {% else %}
                  <label><input class="form-check-input me-1" type="checkbox" name="checkEL" value="{{ slide['id'] }}">{{slide['titulo']}} <strong>({{slide['tipo_show']}})</strong></label>
                  {% endif %}
                  <span class="close_list">x</span>
                </li>
                {% endfor %}
            </ul>
            </div>
            <p>    </p>
            <form id="proxsld" method="post" action="{{ url_for('iniciar_apresentacao') }}">
              <input type="hidden" id="proximaPRS" name="proximaPRS" value="1">
              <input type="submit" class="w-100 btn btn-lg btn-secondary" value="Próxima Apresentação">
            </form>
            {% elif estado == 2 %} 
            <p class="text"><a href="/controlador">Clique aqui</a> para abrir o controlador da Bíblia</p>
            {% elif estado == 3 %} 
            <p class="text"><a href="/controlador">Clique aqui</a> para abrir o controlador da Harpa</p>
            {% else %}
            <p class="text fw-bold">A lista do Roteiro está vazia!</p>
            <p class="text"><a href="/abrir_musica">Clique aqui</a> para abrir uma <b>Música.</b></p>
            <p class="text"><a href="/abrir_biblia">Clique aqui</a> para abrir a <b>Bíblia.</b></p>
            <p class="text"><a href="/abrir_harpa">Clique aqui</a> para abrir um hino da <b>Harpa.</b></p>
            <p class="text"><a href="/calendario">Clique aqui</a> para projetar o <b>Calendário.</b></p>
            <p class="text"><a href="javascript:open_modal_confirm();">Clique aqui</a> para consultar o <b>Log.</b></p>
            {% endif %}
            <hr>
            {% if estado == 0 %}
            <h1><strong>Status: </strong><span class="text-danger">Parado</span></h1>
            <iframe id="miniatura" src="/slide" title="description"></iframe>
            {% else %}
            <h1><strong>Status: </strong><span class="text-success">Apresentando</span></h1>
            <h3><strong>Título: </strong><span class="text-primary">{{titulo}}</span></h3>
            <h3><strong>Tipo: </strong>{{tipo}}</h3>
            <div id="miniatura">
              {% if estado == 3 or estado == 4 %}
              <div id="lb_numero">{{number}}</div>
              <div id="lb_titulo">{{titulo}}</div>
              <div id="lb_autor">{{autor}}</div>
              {% endif %}
            </div>
            {% endif %}            
          </main>          
        </section>
      </div>
		</div>

  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/Sortable.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/textFit.min.js') }}"></script>

  <script>
  
  key = 0;

  function open_modal_confirm() {
    $("#modalConfirm").modal('show');
  }

  {% if estado == 3 or estado == 4 %}
  textFit($("#lb_titulo"), {alignVert: true, multiLine: false, minFontSize: 20, maxFontSize: 230});
  textFit($("#lb_autor"), {alignVert: true, multiLine: false, minFontSize: 20, maxFontSize: 230});
  {% endif %}


  {% if roteiro|length > 0 %}
  Sortable.create(presentations, {
    animation: 100,
    group: 'list-1',
    draggable: '.list-group-item',
    handle: '.list-group-item',
    sort: true,
    filter: '.sortable-disabled',
    //chosenClass: 'active'
  });
  {% endif %}

    var socket = io();
    socket.on('update_roteiro', function(k) {
        key -= 1;

        if (key < 0) {
          location.reload();
        }
    });

  $("#presentations").on('change', function() {
    recriarRoteiro();
  });

  function recriarRoteiro() {
    roteiro = [];

    $("#presentations .list-group-item").each(function() {
      id = $(this).find('.form-check-input').val();
      tipo = $(this).attr('data-tipo');
      checked_s = $(this).find('.form-check-input').is(":checked");
      titulo = $(this).attr('data-titulo');
      tipo_show = $(this).attr('data-tipo-show');

      roteiro.push({'id':id, 'tipo':tipo, 'check':checked_s, 'titulo':titulo, 'tipo_show':tipo_show});
    });

    key += 1;

    $.ajax({
      type: "POST",
      url: "{{ url_for('update_roteiro') }}",
      contentType: "application/json",
      data: JSON.stringify(roteiro),
      dataType: "json",
      success: function(response) {
        if (response < 1) {
          location.reload();
        }
      },
      error: function(err) {
        console.log(err);
      }
    });  
  }

  $(".close_list").on('click', function() {
    $(this).parent().remove();
    recriarRoteiro();
  });

    document.onkeydown = checkKey;

    function checkKey(e) {

        e = e || window.event;

        if (e.keyCode == '116') {
            e.preventDefault();
            $("#proxsld").submit();
        }           
    }     


  </script>

      
  </body>
</html>
