<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Registro de Acesso ao Notebook da Igreja</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/navbar-top-fixed.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">      
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Simular original -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> -->

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">

    <style>

    .picture {
      padding-top: 3vh;
    }

    #loading {
      background-color: white;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9999;
    }

    .loader {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      bottom: 0;
      margin: auto;
      border: 20px solid #EAF0F6;
      border-radius: 50%;
      border-top: 20px solid #FF7A59;
      width: 200px;
      height: 200px;
      animation: spinner 4s linear infinite;
    }
    @keyframes spinner {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }  

    </style>
  </head>

  <body>
    
    {% block menu_superior %}
      {% include 'menu_superior.html' %}
    {% endblock %}    

		<div class="wrapper d-flex align-items-stretch">
    {% block menu_lateral %}
      {% include 'menu_lateral.html' %}
    {% endblock %}    
    

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <section class="container">
          <div id="loading"><div class="loader"></div></div>
          <div class="row"> 
            <div class="col-sm-12">
              <h2 class="fw-bold text-center">Registro de Acessos ao Notebook da Igreja</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div id="lista_geral" class="list-group">
              <p>Datas dos Registros:</p>
                {% for item in acessos %}
                  <a href="#" class="list-group-item list-group-item-action" data-id="{{item['id']}}"><b>{{item['dia']}}</b> ({{item['semana']}}) às <b>{{item['hora']}}</b></a>
                {% endfor %}
              </div>              
            </div>
            <div id="fotos" class="col-sm-9">
              <div class="row" id="fotos_content"></div>
            </div>
          </div>

        </section>
      </div>
		</div>

  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <script src="{{ url_for('static', filename='js/textFit.min.js') }}"></script>
  
  <script>

    window.onload = function() {
      $("#loading").remove();
    };

    $("#lista_geral").on('click', '.list-group-item', function() {
      $(".list-group-item").removeClass('active');
      $(this).addClass('active');      

      $("#fotos_content").empty();

      info = {'id':$(this).attr('data-id')};

      $.ajax({
          type: "POST",
          url: "hook",
          contentType: "application/json",
          data: JSON.stringify(info),
          dataType: "json",
          success: function(data) {
              for (item in data) {
                $("#fotos_content").append('<div class="col-sm-6"><img class="picture" src="data:image/png;base64,' + data[item] + '" alt="Avatar" style="width:100%;"></div>');
              }
          },
      }); 

    });

  </script>
      
  </body>
</html>
