<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Registro de Log</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/navbar-top-fixed.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">      
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='datatable/datatables.min.css') }}" rel="stylesheet">

    <!-- Simular original -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> -->

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">

    <style>

    #loading {
      background-color: white;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9999;
    }

    .loader {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      bottom: 0;
      margin: auto;
      border: 20px solid #EAF0F6;
      border-radius: 50%;
      border-top: 20px solid #FF7A59;
      width: 200px;
      height: 200px;
      animation: spinner 4s linear infinite;
    }
    @keyframes spinner {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }  

    </style>
  </head>

  <body>
    
    {% block menu_superior %}
      {% include 'menu_superior.html' %}
    {% endblock %}    

		<div class="wrapper d-flex align-items-stretch">
    {% block menu_lateral %}
      {% include 'menu_lateral.html' %}
    {% endblock %}    
    

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <section class="container">
          <div id="loading"><div class="loader"></div></div>
          <div class="row"> 
            <div class="col-sm-12">
              <h2 class="fw-bold text-center">Registro de Log</h2>
            </div>
          </div>

          <div class="row">
            <table class="table" id="tabela_principal">
              <thead>
                <tr>
                  <th>Data/Hora:</th>
                  <th>Evento</th>
                  <th>Tipo</th>
                </tr>
              </thead>
              <tbody>
                {% for item in log %}
                <tr>
                  {% if item['num_atividdade'] < 5 or item['num_atividdade'] in (10, 11) %}
                  <td class="text-danger" data-order="{{item['order']}}">{{item['data']}}</td>
                  <td class="text-danger">{{item['atividade']}} <b>{{item['alvo']}}</b></td>
                  <td class="text-danger">Modificação no Banco</td>
                  {% else %}
                  <td data-order="{{item['order']}}">{{item['data']}}</td>
                  <td>{{item['atividade']}} <b>{{item['alvo']}}</b></td>                  
                  <td>Abertura de Mídia</td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="row">
            <div clas="col-sm-12">
              <a href="hook">Clique aqui</a> para acessar o registro de acesso e câmera do notebook da Igreja.
            </div>
          </div>

        </section>
      </div>
		</div>

  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <script src="{{ url_for('static', filename='js/textFit.min.js') }}"></script>
  <script src="{{ url_for('static', filename='datatable/datatables.min.js') }}"></script>
  
  <script>

    window.onload = function() {
      $("#loading").remove();
    };

    let dataTable = new DataTable("#tabela_principal", {
            lengthMenu: [
                [10, 50, 100, 200, 500],
                [10, 50, 100, 200, 500],
            ], 
            "autoWidth": false,
            "oLanguage": {
                "sSearch": "Pesquisar:",
            },
            "language": {
                "lengthMenu": "Exibir _MENU_ itens por página",
                "zeroRecords": "Nada encontrado - Desculpe",
                "info": "Exibindo _START_ até _END_ de um total de _TOTAL_ registro(s)",
                "infoEmpty": "Sem registros",
                "infoFiltered": "(filtrado de um total de _MAX_ registro(s))",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Próximo"
                }
            }                    
        });  

  </script>
      
  </body>
</html>
