<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
    <div class="p-4 pt-5">
        <h1><a href="/" class="logo"><i class="fa-solid fa-house"></i>&nbsp;Home</a></h1>
        <ul class="list-unstyled components mb-5">

            <li>
                <a href="#abrir_slide" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa-brands fa-slideshare"></i>&nbsp;Abrir Slide</a>
                <ul class="collapse list-unstyled" id="abrir_slide">
                    <li>
                        <a href="/abrir_biblia"><i class="fa-solid fa-book-bible"></i>&nbsp;Bíblia</a>
                    </li>
                    <li>
                        <a href="/abrir_harpa"><i class="fa-solid fa-scroll"></i>&nbsp;Harpa</a>
                    </li>
                    <li>
                        <a href="/abrir_musica"><i class="fa-solid fa-music"></i>&nbsp;Músicas</a>
                    </li>
                    <li>
                        <a href="/calendario"><i class="fa-solid fa-calendar-days"></i>&nbsp;Calendário</a>
                    </li>
                    <li>
                        <a href="/licoesebd"><i class="fa-solid fa-book-open-reader"></i>&nbsp;Lições EBD</a>
                    </li>
                    <li>
                        <a href="/abrir_pptx"><i class="fa-solid fa-file-powerpoint"></i>&nbsp;PowerPoint (PPTX)</a>
                    </li>

                    <li>
                        <a href="/abrir_video"><i class="fa-brands fa-youtube"></i>&nbsp;Player de Vídeo</a>
                    </li>

                    <li>
                        <a href="/abrir_poesia"><i class="fa-solid fa-book-open"></i>&nbsp;Poesias</a>
                    </li>

                    <li>
                        <a href="/musical"><i class="fa-solid fa-circle-play"></i>&nbsp;Musical</a>
                    </li>                    

                </ul>
            </li>            

            <li>
                <a href="/controlador"><i class="fa-solid fa-person-chalkboard"></i>&nbsp;Controlador</a>
            </li>            

            <li>
                <a href="#alterarFundo" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa-solid fa-mountain-sun"></i>&nbsp;Alterar Fundo</a>
                <ul class="collapse list-unstyled" id="alterarFundo">
                    <li>
                        <a href="/alterar_fundo?destino=m"><i class="fa-solid fa-music"></i>&nbsp;Músicas</a>
                    </li>                    
                </ul>
            </li>

            <li>
                <a href="/wallpaper_new"><i class="fa-solid fa-images"></i>&nbsp;Wallpaper</a>
            </li>
            

            <!--<li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                    <li>
                        <a href="#">Home 4</a>
                    </li>                    
                </ul>
            </li>-->
        </ul>
    </div>
</nav>