<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Musical</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    

    <!-- Bootstrap core CSS -->
    
    <link href="{{ url_for('static', filename='css/navbar-top-fixed.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">      
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Simular original -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> -->

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">

    <style>

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: black;
      }

      .box-index {
        box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
        color: blue;
        font-weight: bold;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .container {
        color:black;
      }

      .form-text {
        border: solid 1px #E3E7EA;
        padding: 0;
        margin-top: 0;
        padding-left: 0.5vw;
      }

      .form-text:focus {
        display: block;
        border: solid 1px #E3E7EA;
        color: black;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
      }

      .toggled { display: none; }

    </style>
  </head>

  <body>

    {% block menu_superior %}
      {% include 'menu_superior.html' %}
    {% endblock %}    

		<div class="wrapper d-flex align-items-stretch">
    {% block menu_lateral %}
      {% include 'menu_lateral.html' %}
    {% endblock %}    
    

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <section class="container">

          <div id="status_inicio">{{msg}}</div>

          <div id="loading"><div class="loader"></div></div>
          <div class="row"> 
            <div class="col-sm-12">{{status}}</div>
            <div class="col-sm-12">
              <h2 class="fw-bold text-center display-5">Organizador de Musical</h2>
            </div>
            <div class="col-sm-12"><hr></div>
            <div class="col-sm-12">
              <button id="btn_iniciar" class="btn btn-primary">Iniciar Apresentação</button>
              <button id="btn_salvar" class="btn btn-success">Salvar Configuração Atual</button>
            </div>
            <div class="col-sm-12"><hr></div>
            <div class="col-sm-6"><h3>Adicionar Músicas</h3></div>
            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-5"><h3>Roteiro do Musical</h3></div>

            <div class="col-sm-3">

              <label for="txt_filtro_harpa" class="form-label">Harpa Cristã:</label>
              <input type="text" class="form-control form-text" id="txt_filtro_harpa" placeholder="Pesquisar...">
              <br>
              <div id="lista_geral_harpa" class="list-group">             
                {% for item in harpa %}
                  <a href="#" class="list-group-item list-group-item-action item-harpa" data-id="{{item['id']}}">{{'%03d' % item['id']}}. {{item['descricao']}}</a>
                {% endfor %}
              </div>               
            </div>

            <div class="col-sm-3">

              <label for="txt_filtro_musica" class="form-label">Músicas:</label>
              <input type="text" class="form-control form-text" id="txt_filtro_musica" placeholder="Pesquisar...">
              <br>

              <div id="lista_geral_musica" class="list-group">
                {% for item in musicas %}
                  <a href="#" class="list-group-item list-group-item-action item-musica" data-id="{{item['id']}}">{{item['titulo']}}</a>
                {% endfor %}
              </div>               
            </div>

            <div class="col-sm-1">
              <p>&nbsp;</p>
              <button id="btn_troca" class="btn btn-success mt-5" disabled><i class="fa-solid fa-right-left"></i></button>
            </div>
            
            <div class="col-sm-3">
              <div id="lista_musical" class="list-group">
                {% for item in roteiro_musical %}
                  <a href="#" class="list-group-item list-group-item-action {{item['origem']}}" data-id="{{item['id_origem']}}">{{item['titulo']}}</a>
                {% endfor %}
              </div>               
            </div>

          </div>
        </section>
      </div>
		</div>

    <form id="form_salvar" action="/musical" method="POST">
      <input type="hidden" name="lista" id="ls_musical">
    </form>

  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/Sortable.min.js') }}"></script>  

  <script src="{{ url_for('static', filename='js/textFit.min.js') }}"></script>

  <script>

    window.onload = function() {
      $("#loading").remove();

      $(".codex-editor__redactor").css('padding-bottom', '0px');

      Sortable.create(lista_musical, {
        animation: 100,
        group: 'list-1',
        draggable: '.list-group-item',
        handle: '.list-group-item',
        sort: true,
        filter: '.sortable-disabled',
        //chosenClass: 'active'
      });


      new Sortable(document.getElementById('lista_geral_musica'), {
          animation: 150
      });

      new Sortable(document.getElementById('lista_geral_harpa'), {
          animation: 150
      });      

    }; 

    $("#btn_iniciar").on('click', function() {
      info = {'id':0, 'tipo':'musical'}

      $.ajax({
          type: "POST",
          url: "iniciar_apresentacao",
          contentType: "application/json",
          data: JSON.stringify(info),
          dataType: "json",
          success: function(data) {
              if (data) {
                $("#status_inicio").append('<div class="alert alert-success alert-dismissible fade show" role="alert"><strong>Projeção do Musical Iniciada!</strong> <a href="/controlador">Clique aqui para abrir o controlador.</a><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
              } else {
                $("#status_inicio").append('<div class="alert alert-warning alert-dismissible fade show" role="alert"><strong>Atenção! </strong>Projeção não iniciada devido lista do musical estar vazia, preencha a lista antes de iniciar a projeção!<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
              }
          },
      });
    }); 

    $("#btn_salvar").on('click', function() {
      lista_final = [];
      $("#lista_musical .list-group-item").each(function( index ) {
        let origem = 'harpa'
        if ($(this).hasClass('item-musica')) {
          origem = 'musicas'
        }
        lista_final.push({'id':$(this).attr('data-id'), 'origem':origem});
      })

      $("#ls_musical").val(JSON.stringify(lista_final));
      $("#form_salvar").submit();
    });

    $('#txt_filtro_harpa').on('keyup', function (e) {
      var value = $(this).val().toLowerCase();
      $("#lista_geral_harpa a").toggleClass('toggled', true);
      $("#lista_geral_harpa a").filter(function() {
        if ($(this).text().toLowerCase().indexOf(value) > -1) {
          $(this).removeClass('toggled');
        }
        //console.log($(this).find("label").find("input").data("pasta"))
      });
    });

    $('#txt_filtro_musica').on('keyup', function (e) {
      var value = $(this).val().toLowerCase();
      $("#lista_geral_musica a").toggleClass('toggled', true);
      $("#lista_geral_musica a").filter(function() {
        if ($(this).text().toLowerCase().indexOf(value) > -1) {
          $(this).removeClass('toggled');
        }
        //console.log($(this).find("label").find("input").data("pasta"))
      });
    });

  $(".list-group-item").on('click', function() {
    $("#btn_troca").removeAttr('disabled');
    $(".list-group-item").toggleClass('active', false);
    $(this).addClass('active');
  });

  $("#btn_troca").on('click', function() {
    let element = $('.active');
    let id = element.parent().attr('id');
    
    if (['lista_geral_musica', 'lista_geral_harpa'].includes(id)) {
      $('#lista_musical').append(element);
    } else {
      if (element.hasClass('item-musica')) {
        $("#lista_geral_musica").append(element);
        sortItemsAlphabetically('lista_geral_musica');
      } else {
        $("#lista_geral_harpa").append(element);
        sortItemsAlphabetically('lista_geral_harpa');
      }
    }

  });

function sortItemsAlphabetically(id) {
    const list = document.getElementById(id);
    const items = Array.from(list.children);

    items.sort((a, b) => {
        return a.textContent.toLowerCase().localeCompare(b.textContent.toLowerCase());
    });

    items.forEach(item => list.appendChild(item));
}


  </script>
      
  </body>
</html>
