<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Abrir Músicas</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/navbar-top-fixed.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">      
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    

    <!-- Simular original -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> -->

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">

    <style>

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: black;
      }
   

      .box-index {
        box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
        color: blue;
        font-weight: bold;
      }

      .paragrafo {
        margin-bottom: 10px;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    #anterior,
    #proximo {
      color: white;
    }

    .ce-paragraph {
        border-bottom: solid;
    }

    #txt_anotacao,
    #txt_titulo {
      border: solid;
      border-color: rgb(0, 0, 0, 0.3);
    }    

    #previewSlide {
      width: 426px; /* or whatever width you want. */
      height: 240px; /* or whatever width you want. */
      display: inline-block;    
      background-color: black;
      color: white;
      line-height: normal;
      font-family: Arial, Helvetica, sans-serif;
    }

    #previewSubtitle {
      width: 426px; /* or whatever width you want. */
      height: 50px; /* or whatever width you want. */
      display: inline-block;    
      background-color: rgb(0, 0, 0, 0.8); 
      color: white;
      line-height: normal;
      font-family: Arial;      
    }

    .arrows,
    .preview {
      width: 426px;
    }

    .view-marker {
      color:rgba(255,207,102);
      font-weight:bold;
      background:rgba(0,0,0,0)
    }

    .arrow {
      font-size: xx-large;
    }

    #editorjs_s,
    #editorjs {
      color:black;
    }

    #letras_musicas,
    #detalhes_musicas {
      color: black;
    }

    .Forte {
      background-color: rgb(115, 249, 139);
      border-radius: 5px;
      padding: 2%;
    }

    .Médio {
      background-color: rgb(250, 191, 135);
      border-radius: 5px;
      padding: 2%;
    }

    .Fraco {
      background-color: rgb(249, 159, 237);
      border-radius: 5px;
      padding: 2%;
    }

    .text {
      background-color: rgb(255, 255, 255);
      border-radius: 5px;
      padding: 1%;
      margin-top: 10px;
    }

    .cdx-marker {
      color:rgba(192,0,0);
      font-weight:bold;
      background:rgba(0,0,0,0);
    }   

    #txt_pesquisa_letra,
    #txt_senha,
    #txt_filtro {
      border: solid;
      border-color: rgb(0, 0, 0, 0.3);
    }   

    #lista_geral a.toggled { display: none; }

    #lista_geral a.toggled-vinc { display: none; }

    img {
        display: block;
        height: 200px;
        width: 100%;
        border: solid;
        border-width: thin;
    }

    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    </style>
    
  </head>

  <body>

    <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmar Etapa de Digitação</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="verificarSenha" method="post">
          <div class="modal-body">
            <label for="txt_senha" class="form-label">Digite a senha do Administrador para prosseguir:</label>
            <input type="password" name="senha" class="form-control" id="txt_senha" placeholder="Digite a senha">
            <input type="hidden" name="destino" id="destino">
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Confirmar">
            </form>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div> 

    {% block menu_superior %}
      {% include 'menu_superior.html' %}
    {% endblock %}


		<div class="wrapper d-flex align-items-stretch">
    {% block menu_lateral %}
      {% include 'menu_lateral.html' %}
    {% endblock %}

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <section class="container">
          <div class="row">
            <div id="status" class="col-sm-12">{{status}}</div>
            <div id="loading" class="col-sm-12 text-center" hidden>
              <div class="spinner-border text-danger" role="status">
                <span class="sr-only">Carregando...</span>
              </div><span class="center">&nbsp;Renderizando PDF... Por favor aguarde.</span>
            </div>
            <div class="col-sm-12">
              <h2 class="fw-bold">Abrir Músicas</h2>
            </div>
          </div>
          <div class="row d-flex align-items-center">
            <div class="col-sm-8">
              <button id="btn_nova_musica" class="btn btn-primary" data-toggle="modal" data-target="#modalConfirm"><i class="fa-solid fa-plus"></i> Nova Música</button>
              <button id="btn_editar_musica" class="btn btn-secondary" data-toggle="modal" data-target="#modalConfirm" disabled><i class="fa-solid fa-pen-to-square"></i> Editar Selecionada</button>
              <button id="btn_gerar_pdf" class="btn btn-danger"><i class="fa-solid fa-file-pdf"></i> Gerar PDF das Músicas Filtradas</button>
            </div>
            
            <div class="col-sm-3">
              <form method="post" action="pesquisarLetra">
              <input type="text" name="pesquisa" class="form-control" id="txt_pesquisa_letra" placeholder="Pesquisa Profunda (letras e títulos)">
            </div>
            <div class="col-sm-1">
              <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
              </form>
            </div>

            <div class="col-sm-12">
              <hr>
            </div>
            <div class="col-sm-12">
              <div class="tree well">
                <p>
                  <a class="btn btn-primary" data-toggle="collapse" href="#categorias" role="button" aria-expanded="false" aria-controls="categorias">Filtro por Vínculos</a>
                  <button class="btn btn-secondary" id="btn-limparFiltro" type="button">Limpar Filtros</button>
                  <button id="btn_iniciar_apresentacao" class="btn btn-info" disabled><i class="fa-solid fa-circle-play"></i> Iniciar Apresentação</button>
                  <button id="btn_adicionar_roteiro" class="btn btn-success" disabled><i class="fa-solid fa-list-check"></i> Adicionar ao Roteiro</button>
                </p>
                <div class="row">
                  <div class="col">
                    <div class="collapse" id="categorias">
                      <div class="card card-body">
                        {% for cat in categoria %}
                          <p>
                            <button data-toggle="collapse" href="#cat{{cat['id']}}" role="button" aria-expanded="false" aria-controls="cat{{cat['id']}}" class="btn btn-dark">{{cat['descricao']}}</button>
                            <a href="javascript:selectallCat({{cat['id']}}, true)">Todos</a>
                            <a href="javascript:selectallCat({{cat['id']}}, false)">Nenhum</a>
                          </p>
                          <div class="row">
                            <div class="col">
                              <div class="collapse show" id="cat{{cat['id']}}">
                                <div class="card card-body">
                                {% for item in cat['subcategoria'] %}
                                  <p>&nbsp;
                                    <input id="check{{item['id']}}" class="form-check-input filtro-vinculo-check check-{{cat['id']}}" type="checkbox" value="{{item['id']}}" data-txt="{{item['descricao']}}">
                                    <label class="form-check-label" for="check{{item['id']}}">
                                      {{item['descricao']}}
                                    </label>      
                                  </p>                                                              
                                {% endfor %}
                                </div>
                                <br>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>            
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div id="lista_geral" class="list-group">
                <label for="txt_filtro" class="form-label">Filtrar por Titulo:</label>
                <input type="text" class="form-control" id="txt_filtro" placeholder="Digite o Nome da Música" value="{{titulo}}">                
                <br>
                {% for item in musicas %}
                  <a href="#" class="list-group-item list-group-item-action" data-id="{{item['id']}}" data-vinc="{{item['vinc']}}">{{item['titulo']}}</a>
                {% endfor %}
              </div>              
            </div>
            <div id="letras_musicas" class="col-sm-5"></div>
            <div id="detalhes_musicas" class="col-sm-4"></div>
          </div>
        </section>
      </div>
		</div>

  <form id="formEnviarDados" method="post" action="enviarDadosNovaMusica"><input id="json_data_send" name="json_data_send" type="hidden"></form>

  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  
<script>

  var lista_categoria = {{categoria}};

  $("#btn_adicionar_roteiro").on('click', function() {
    info = {'id':$("#lista_geral a.active").attr('data-id'), 'tipo':'musicas', 'check':false, 'titulo':$("#lista_geral a.active").text(), 'tipo_show':'Música'};

    $.ajax({
        type: "POST",
        url: "adicionar_roteiro",
        contentType: "application/json",
        data: JSON.stringify(info),
        dataType: "json",
        success: function(data) {
            if (data) {
              $("#status").append('<div class="alert alert-success alert-dismissible fade show" role="alert">Apresentação da música <strong>' + $("#lista_geral a.active").text() + '</strong> adicionada ao Roteiro com sucesso! <a href="/">Clique aqui</a> para abrir a lista do Roteiro.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
            }
        },
    }); 

  });

  $("#btn_iniciar_apresentacao").on('click', function() {
    info = {'id':$("#lista_geral a.active").attr('data-id'), 'tipo':'musicas'};
    
    $.ajax({
        type: "POST",
        url: "iniciar_apresentacao",
        contentType: "application/json",
        data: JSON.stringify(info),
        dataType: "json",
        success: function(data) {
            if (data) {
              $("#status").append('<div class="alert alert-success alert-dismissible fade show" role="alert">Apresentação da música <strong>' + $("#lista_geral a.active").text() + '</strong> iniciada com sucesso. <a href="/controlador">Clique aqui</a> para abrir o Controlador.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
            }
        },
    });    

  });

  // Function definition with passing two arrays
  function findCommonElement(array1, array2) {
  
      // Loop for array1
      for (let i = 0; i < array1.length; i++) {
  
          // Loop for array2
          for (let j = 0; j < array2.length; j++) {
  
              // Compare the element of each and
              // every element from both of the
              // arrays
              if (array1[i] === array2[j]) {
  
                  // Return if common element found
                  return true;
              }
          }
      }
  
      // Return if no common element exist
      return false;
  }

  function selectallCat(cat, select) {

    console.log('yes');

    $('.check-' + cat).each(function() { this.checked = select; });

    lista = []
    $('.filtro-vinculo-check:checked').filter(function(index) {
      lista.push($(this).val())
    });
    
    if (lista.length > 0) {

      $("#lista_geral a").toggleClass('toggled-vinc', true);

      $("#lista_geral a").filter(function () {

        lst_element = $(this).attr('data-vinc').split(',');
        
        if (findCommonElement(lst_element, lista)) {
          $(this).removeClass('toggled-vinc');
        }
    
      });

    } else {
      $("#lista_geral a").removeClass('toggled-vinc');
    }            
  }

  $('#btn-limparFiltro').click(function (e) {
    $('#txt_filtro').val("");
    $("#lista_geral a").removeClass('toggled');

    $('.form-check-input').each(function() { this.checked = false; });
    $("#lista_geral a").removeClass('toggled-vinc');
  });  

  $('.form-check-input').on('change', function (e) {
    lista = []
    $('.filtro-vinculo-check:checked').filter(function(index) {
      lista.push($(this).val())
    });
    
    console.log(lista);

    if (lista.length > 0) {
      $("#lista_geral a").toggleClass('toggled-vinc', true);

      $("#lista_geral a").filter(function () {

        lst_element = $(this).attr('data-vinc').split(',');
        
        if (findCommonElement(lst_element, lista)) {
          $(this).removeClass('toggled-vinc');
        }
    
      });
    
    } else {
      $("#lista_geral a").removeClass('toggled-vinc');
    }

  });

  $("#btn_nova_musica").on('click', function() {
    $("#destino").val('0');
  });

  $("#btn_editar_musica").on('click', function() {
    $("#destino").val($("#lista_geral a.active").attr('data-id'));
  });

  $("#btn_gerar_pdf").on('click', function() {

    lista = '';

    $('.filtro-vinculo-check:checked').filter(function(index) {
        lista += $(this).val() + ',';
    });    

    $("#loading").removeAttr('hidden');
    $("#btn_gerar_pdf").attr('disabled', '');

    $.ajax({
        type: "POST",
        url: "gerar_pdf",
        contentType: "application/json",
        data: JSON.stringify(lista),
        dataType: "json",
        success: function(data) {

          let pdfWindow = window.open("")
          pdfWindow.document.write(
            "<iframe width='100%' height='100%' src='data:application/pdf;base64, " +
            encodeURI(data['output']) + "'></iframe>"
          )

          $("#loading").attr('hidden', '');
          $("#btn_gerar_pdf").removeAttr('disabled');
        },
    });

  });

  $('#txt_filtro').on('keyup', function (e) {
    var value = $(this).val().toLowerCase();
    $("#lista_geral a").toggleClass('toggled', true);
    $("#lista_geral a").filter(function() {
      if ($(this).text().toLowerCase().indexOf(value) > -1) {
        $(this).removeClass('toggled');
      }
      //console.log($(this).find("label").find("input").data("pasta"))
    });
  });

  $("#lista_geral").on('click', '.list-group-item', function() {
    $(".list-group-item").removeClass('active');
    $(this).addClass('active');

    $("#letras_musicas").empty();
    $("#detalhes_musicas").empty();
    $("#letras_musicas").append('<h4><span class="fw-bold">Título: </span><span class="text-primary">' + $(this).text() + '</span></h4>');

    info = {'id':$(this).attr('data-id')};

    $.ajax({
        type: "POST",
        url: "get_info_musica",
        contentType: "application/json",
        data: JSON.stringify(info),
        dataType: "json",
        success: function(data) {
            //console.log(data);

            // adicionar imagem da capa
            $("#detalhes_musicas").append("<img src='" + data['capa'] + "'></img><br>");

            // adicionar vínculos
            for (vinc in data['vinculos']) {
              $("#detalhes_musicas").append('<div class="' + data['vinculos'][vinc]['desc_status'] + '"><div><strong>Vínculo: </strong>' + data['vinculos'][vinc]['vinculo'] + '</div><div><strong>Status do Vínculo: </strong>' + data['vinculos'][vinc]['desc_status'] + '</div><div class="text">' + data['vinculos'][vinc]['descricao'] + '</div></div><br>');
            }
            
            $("#letras_musicas").append('<div id="pagina_texto"></div>');


            for (letra in data['letras']) {
              $("#pagina_texto").append('<p>' + data['letras'][letra]['texto'].replaceAll('<mark ', '<span ').replaceAll('</mark>', '</span> ') + '</p>');
            }

            $("#detalhes_musicas").append("<button class='btn_exportar_slide btn btn-danger'>Exportar Slide como PDF</button>");

            $("#btn_editar_musica").removeAttr('disabled');
            $("#btn_iniciar_apresentacao").removeAttr('disabled');
            $("#btn_adicionar_roteiro").removeAttr('disabled');
        },
    });

  });

  $("#detalhes_musicas").on('click', '.btn_exportar_slide', function() {
    $(this).html('<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>');
    $(this).attr('disabled', '');

    info = {'id':$("#lista_geral a.active").attr('data-id'), 'destino':'slides', 'id_name':'id_musica', 'classe':'musica'};

    $.ajax({
        type: "POST",
        url: "gerar_pdf_slide",
        contentType: "application/json",
        data: JSON.stringify(info),
        dataType: "json",
        success: function(data) {
          let pdfWindow = window.open("")
          pdfWindow.document.write(
            "<iframe width='100%' height='100%' src='data:application/pdf;base64, " +
            encodeURI(data['output']) + "'></iframe>"
          )

          $(".btn_exportar_slide").removeAttr('disabled');
          $(".btn_exportar_slide").html('Exportar Slide como PDF');
        },
    });

  });

</script>
      
  </body>
</html>
