<html lang="pt-BR">
    <head>
        <title>SlideShow</title>

        <style>

            body {
                overflow: hidden;
            }

            @font-face {
                font-family:bebaskai;
                font-style:normal;
                font-weight:400;
                src:local('BebasKai'),
                url({{ url_for('static', filename='fonts/BebasKai-Regular.woff') }}) format('woff')
            }

            .slide {
                position: fixed;
                min-width: 100%;               
                min-height: 100%;
                top:0%;    
                left:0%;
                font-family: Arial, Helvetica, sans-serif;
            } 

            .titulo {
                color:red;
                font-size: 10vw;
                text-align: center;
                padding: 0%;
                margin-top: 4vh;
            }

            #logo_1 {
                width: 60%;
                height: auto;
                margin-top: -20vh;
                margin-left: -5vw;
            }

            #img-calendar {
                width: 45%;
                height: auto;
                margin-top: -35%;
                margin-left: 52vw;
            }

            .hide {                
                opacity: 0;
            }

            .logo_padrao {
                width: 12vw;
                height: auto;
                margin-left: 1vw;
                margin-top: 2vh;
            }

            .titulo_oracao {
                color:green;
                font-size: 11vw;
                position: absolute;
                top: -15vh;
                left: 13vw;
                font-family:'BebasKai', sans-serif;
            }

            .titulo_semanal {
                font-size: 5.8vw;
                position: absolute;
                top: -2vh;
                left: 14vw;
                font-family:'BebasKai', sans-serif;
            }             

            .text-primary,
            .blue {
                color:#0070C0;
            }

            .fw-bold {
                font-weight: bold;
            }

            .text-danger,
            .red {
                color:#DA2536;
            }

            .text-success,
            .green {
                color:green;
            }

            .text-dark {
                color:black;
            }

            .text {
                font-size: 5.4vw;
                margin-left: 3vw;
                text-align: justify;
                line-height: 1.31;
                -webkit-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
                margin-right: 2vw;
                margin-bottom: 0;
            }

            .text-item-dep {
                font-size: 4.5vw;
                text-align: left;
                margin-top: 0;
            }

            .titulo_dia_semanal {
                font-size: 7vw;
                margin-left: 3vw;
                margin-top: 0vh;
            }

            .titulo_mensal {
                position: absolute;
                font-size: 6.2vw;
                top: -2vh;
                left: 14vw;
                font-family:'BebasKai', sans-serif;                
            }

            .paragrafo {
                margin-bottom: 5vh;
                -webkit-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;                
            }

            .paragrafo:last-child {
                margin-bottom: 0px;
            }

            .text-item-semanal {
                margin-top: -10vh;
            }

            #loading {
                background-color:black;
                width: 100%;
                height: 100%;
                position: absolute;
                top:0%;
                left:0%;
                z-index: 0;
            } 

            .in {
                animation-name: fade-in;
                animation-duration: 0.5s;
            }
            
            .out {
                animation-name: fade-out;
                animation-duration: 0.5s;
                opacity: 0;
            }  

            .wallpaper {
                width: 100%;
                height: 100%;
            }

            @keyframes fade-in {
                from {opacity: 0;}
                to {opacity: 1;}
            } 

            @keyframes fade-out {
                from {opacity: 1;}
                to {opacity: 0;}
            }             

            #arrow_pointer {
                position: fixed;
                top: 0%;
                left: 95.5%;
                font-size: 4vmax;
                margin-top: 1vh;
                opacity: 0;
                color:{{config['seta']}};

            }

            .blank_rect {
                position: relative;
                background-color: white;
                z-index:1;
            }

            ul {
                z-index:-1;
            }

            .text-decoration-underline {
                text-decoration: underline;
            }

        </style>

    </head>
    <body>

        <!-- Primeiro slide de apresentação -->
        <div class="slide {{'hide' if index != 0 else 'in' }}" id="sld0">
            <p class="titulo">CALENDÁRIO {{ano}}</p>
            <img id="logo_1" src="{{ url_for('static', filename='images/Logo Legenda.png') }}">
            <img id="img-calendar" src="{{ url_for('static', filename='images/Calendar_show.png') }}">
        </div>

        <!-- Slide da Oração -->
        <div class="slide {{'hide' if index != 1 else 'in' }}" id="sld1">
            <img class="logo_padrao" src="{{ url_for('static', filename='images/Logo Colorido.png') }}">
            <p class="titulo_oracao">CALENDÁRIO DE ORAÇÃO</p>
            <ul class="text">
                <li class="paragrafo">Todas as <b class="blue">Terças</b>, <b class="blue">Quintas</b> e <b class="blue">Sábados</b> às <b class="red">7h.</b></li>
                <li><b class="blue">Quarta-feira</b> às <b class="red">15h</b>, com participação do Dep. Feminino.</li>
            </ul>
        </div>

        <!-- Slide Semanal -->
        {% for sld in slides %} 
            {% if sld['tipo'] == 'semanal' %}
            <div class="slide {{'hide' if index != sld['pos'] else 'in' }}" id="sld{{sld['pos']}}">
                <div class="blank_rect">
                    <img class="logo_padrao" src="{{ url_for('static', filename='images/Logo Colorido.png') }}">
                    <p class="titulo_semanal">CALENDÁRIO SEMANAL - <span class="red">{{inicio}}</span> A <span class="red">{{fim}}</span></p>
                    <p class="titulo_dia_semanal"><b>{{sld['dia']}} (<span class="blue">{{sld['semana']}}</span>)</b></p>                
                </div>
                <ul class="text text-item-semanal">
                    {% for evento in sld['eventos'] %}
                    <li class="paragrafo">{{evento['texto']}}</li>
                    {% endfor %}
                </ul>            
            </div>
            {% elif sld['tipo'] == 'isolado' %}
            <div class="slide {{'hide' if index != sld['pos'] else 'in' }}" id="sld{{sld['pos']}}">
                <div class="blank_rect">
                    <img class="logo_padrao" src="{{ url_for('static', filename='images/Logo Colorido.png') }}">
                    <p class="titulo_mensal"><span class="green">CALENDÁRIO MENSAL</span> - <span class="red">{{mes_desc}} DE {{ano}}</span></span></p>
                    <p class="titulo_dia_semanal">{{sld['desc_dia']}}</p>
                </div>
                <ul class="text text-item-semanal">
                    {% for evento in sld['eventos'] %}
                    <li class="paragrafo">{{evento}}</li>
                    {% endfor %}
                </ul>            
            </div>
            {% elif sld['tipo'] == 'dep' %}

            <div class="slide {{'hide' if index != sld['pos'] else 'in' }}" id="sld{{sld['pos']}}">
                <div class="blank_rect">
                    <img class="logo_padrao" src="{{ url_for('static', filename='images/Logo Colorido.png') }}">
                    <p class="titulo_mensal">{{sld['desc_dia']}}</p>
                </div>
                <ul class="text text-item-dep">
                    {% for evento in sld['eventos'] %}
                    <li class="paragrafo">{{evento}}</li>
                    {% endfor %}
                </ul>           
            </div>     
            {% else %}       
            <div class="slide {{'hide' if index != sld['pos'] else 'in' }}" id="sld{{sld['pos']}}">
                <img class="wallpaper" src="{{url_for('static', filename='images/Wallpaper/' + sld['url'])}}">
            </div>
            {% endif %}

        {% endfor %}

        <div id="arrow_pointer"><i class="fa-solid fa-circle-chevron-up"></i></div>

        <div id="loading">
            <div class="d-flex justify-content-center vertical-center">
              <div class="spinner-border" role="status" style="width: 30rem; height: 30rem; border-width: 5rem;">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
        </div>        

        <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>  

        <script>
            window.addEventListener("load", (event) => {
            const element = document.getElementById("loading");
            element.classList.add("out");
            });

            const arrow = document.getElementById('arrow_pointer');
            const slide_inicial = document.getElementsByClassName('in')[0];

            var espaco_scroll = slide_inicial.scrollHeight - window.innerHeight;
            try {
                var margin_top = parseFloat(window.getComputedStyle(slide_inicial.getElementsByTagName('ul')[0], null).getPropertyValue('margin-top'));
                var margin_top_original = margin_top;
                var scrolling = false;
                var posicao = 0;
                var limite_scroll = slide_inicial.getElementsByTagName('li').length;
            } catch (error) {
                console.error(error);
                var margin_top = 0;
                var margin_top_original = margin_top;
                var scrolling = false;
                var posicao = 0;
                var limite_scroll = 0;
            }              

            function changeComponent(index) {
                sld_previous = document.getElementsByClassName('in')[0];
                sld_next = document.getElementById('sld' + index)

                sld_previous.classList.add('out');
                sld_previous.classList.remove('in');
                
                sld_next.classList.add('in');
                sld_next.classList.remove('hide');
                sld_next.classList.remove('out');

                if (posicao > 0) {
                    sld_previous.getElementsByTagName('ul')[0].style.marginTop = margin_top_original + 'px';
                }

                try {
                    espaco_scroll = sld_next.scrollHeight - window.innerHeight;
                    margin_top = parseFloat(window.getComputedStyle(sld_next.getElementsByTagName('ul')[0], null).getPropertyValue('margin-top'));
                    margin_top_original = margin_top;
                    posicao = 0;
                    limite_scroll = sld_next.getElementsByTagName('li').length;
                } catch (error) {
                    console.error(error);
                    // Expected output: ReferenceError: nonExistentFunction is not defined
                    // (Note: the exact output may be browser-dependent)
                }                
            
            }

            var socket = io();
            socket.on('update', function(index) {
                changeComponent(index);
            });        
        
            socket.on('refresh', function(result) {
                location.reload();
            });

            socket.on('pix', function(result) {
                window.location.replace("/slide_pix");
            });

            socket.on('wait_pptx', function(result) {
                window.location.replace("/wait_pptx");
            });        

            socket.on('scroll_biblia', function(direcao) {

                console.log('scroll!');

                if (direcao == 'down' && !scrolling) {
                    scroll_down();    
                } else if(direcao == 'up' && !scrolling) {
                    scroll_up();
                }
            }); 

        function scroll_up() {
            if (posicao > 0) {
                let slide = document.getElementsByClassName('in')[0]
                scrolling = true;
                arrow.innerHTML = '<i class="fa-solid fa-circle-chevron-up">';
                arrow.classList.remove("final-out"); 
                void arrow.offsetWidth;
                arrow.classList.add("final-out");  

                let li_element = slide.getElementsByTagName('ul')[0].getElementsByTagName('li')[posicao - 1];

                margin_top = parseFloat(window.getComputedStyle(li_element, null).getPropertyValue('height')) + parseFloat(window.getComputedStyle(document.getElementsByClassName('paragrafo')[0], null).getPropertyValue('margin-bottom'));
                
                posicao -= 1;

                $('.in').find('ul').animate({
                    "margin-top": "+=" + margin_top
                }, 2000, function(){
                    scrolling = false;                   
                });                                              
            } else {
                location.reload();
            }
        }

        function scroll_down() {

            if (espaco_scroll > 0 && posicao < limite_scroll - 1) {
                let slide = document.getElementsByClassName('in')[0]
                scrolling = true;
                arrow.innerHTML = '<i class="fa-solid fa-circle-chevron-down">';
                arrow.classList.remove("final-out");
                void arrow.offsetWidth;
                arrow.classList.add("final-out");

                let li_element = slide.getElementsByTagName('ul')[0].getElementsByTagName('li')[posicao];

                margin_top = parseFloat(window.getComputedStyle(li_element, null).getPropertyValue('height')) + parseFloat(window.getComputedStyle(document.getElementsByClassName('paragrafo')[0], null).getPropertyValue('margin-bottom'));
                
                posicao += 1;

                $('.in').find('ul').animate({
                    "margin-top": "-=" + margin_top
                }, 2000, function(){
                    scrolling = false;
                });                

            }
        }            



        </script>

    </body>
</html>