<html>
    <head>
        <title>SlideShow</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">     

        <style>
            body {
                background-color: {{config['fundo']}};
                overflow: hidden;
            }

            #head {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                text-decoration: underline;
                font-size: 6vmax;
                text-align: center;
                color: {{config['letra']}};
            }

            .slide {
                width: 90%;
                position: relative;
                left:5%;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 7vmax;
                text-align: justify;
                line-height: 1.31;
                -webkit-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
                color: {{config['letra']}};                
            }

            #arrow_pointer {
                position: fixed;
                top: 0%;
                left: 95.5%;
                font-size: 4vmax;
                margin-top: 1vh;
                opacity: 0;
                color:{{config['seta']}};

            }

            .nd {
                font-variant: small-caps;
            }

            .add {
                font-style: italic;
            }

            .sc {
                font-variant: small-caps;
            }

            .heading {
                font-weight: bold;
            }

            .wj {
                color: red;
            }    

            .in {
                animation-name: fade-in;
                animation-duration: 0.5s;
            }
            
            .out {
                animation-name: fade-out;
                animation-duration: 0.5s;
                opacity: 0;
            }   
            
            .final-out {
                animation-name: fade-final;
                animation-duration: 4s;
                opacity: 0;
            }


            @keyframes fade-in {
                from {opacity: 0;}
                to {opacity: 1;}
            } 

            @keyframes fade-out {
                from {opacity: 1;}
                to {opacity: 0;}
            } 

            @keyframes fade-final {
                0% {
                    opacity: 1;
                }
                50% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }
            
        </style>
    </head>
    <body>
        <div id="head">{{head['nome']}} {{head['cap']}}:{{versiculo}} - {{head['versao']}}</div>
        <div class="slide" id="slide1" lang="pt-br">{{lista[index]|safe}}<i class="fa-solid fa-feather-pointed"></i></div>
        <div class="slide" id="slide2" lang="pt-br"></div>

        <div id="arrow_pointer"><i class="fa-solid fa-circle-chevron-up"></i></div>

    <!-- <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>    
    <script>

        var posicao = 0;

        history.scrollRestoration = "manual";

        $(window).on('load', function(){
            $(window).scrollTop(0);
        });

        const slides = [document.getElementById("slide1"), document.getElementById("slide2")];
        const arrow = document.getElementById('arrow_pointer');

        var limite_scroll = document.documentElement.scrollHeight - window.innerHeight;
        var lista = {{lista}};
        var key = 0;
        var scrolling = false;

        const getScrollPosition = (el = window) => ({
        x: el.pageXOffset !== undefined ? el.pageXOffset : el.scrollLeft,
        y: el.pageYOffset !== undefined ? el.pageYOffset : el.scrollTop
        });

        function scroll_up() {
            if (posicao > 0) {
                scrolling = true;
                arrow.innerHTML = '<i class="fa-solid fa-circle-chevron-up">';
                arrow.classList.remove("final-out"); 
                posicao -= parseFloat(window.getComputedStyle(slides[key], null).getPropertyValue('line-height')) * 4;
                void arrow.offsetWidth;
                arrow.classList.add("final-out");  

                $('html, body').animate({
                    scrollTop: posicao
                }, 2000, function(){
                    scrolling = false;
                    // Add hash (#) to URL when done scrolling (default click behavior)
                    //window.location.hash = posicao;
                    if (posicao < 0) {
                        posicao = 0;
                    }                    
                });                                              
            }
        }

        function scroll_down() {

            if (posicao < limite_scroll) {
                scrolling = true;
                arrow.innerHTML = '<i class="fa-solid fa-circle-chevron-down">';
                arrow.classList.remove("final-out");
                posicao += parseFloat(window.getComputedStyle(slides[key], null).getPropertyValue('line-height')) * 4;
                void arrow.offsetWidth;
                arrow.classList.add("final-out");
                /*window.scroll({
                    top: posicao,
                    behavior: "smooth",
                });*/
                $('html, body').animate({
                    scrollTop: posicao
                }, 2000, function(){
                    scrolling = false;
                    // Add hash (#) to URL when done scrolling (default click behavior)
                    //window.location.hash = posicao;
                    if (posicao > limite_scroll) {
                        posicao = limite_scroll;
                    }
                });                

            }
        }

        /*document.onkeydown = checkKey;

        function checkKey(e) {

            e = e || window.event;

            if (e.keyCode == '27') {
                e.preventDefault();
                //avancar();
            }
            else if (e.keyCode == '37'  || e.keyCode == '33') {
                scroll_up();
            }
            else if (e.keyCode == '39' || e.keyCode == '34') {
                e.preventDefault(); 
                scroll_down();          
            }           
        }*/

        function changeComponent(index) {

            if (key == 0) {
                counter = 1;
            } else {
                counter = 0;
            }

            slides[key].classList.remove("in");
            slides[key].classList.add("out");

            slides[counter].classList.remove("out");
            slides[counter].classList.add('in');
                               
            slides[counter].innerHTML = lista[index];

            key = counter;

        }

        var socket = io();
        socket.on('update', function(index) {
            changeComponent(index);
        });        
     
        socket.on('refresh', function(result) {
            location.reload();
        });

        socket.on('scroll_biblia', function(direcao) {

            if (direcao == 'down' && !scrolling) {
                scroll_down();    
            } else if(direcao == 'up' && !scrolling) {
                scroll_up();
            }
        });        

    </script>

    </body>    
</html>