<html lang="pt-BR">
    <head>
        <title>Render Calendário Mensal</title>
    </head>

    <style>

        @font-face {
            font-family:bebaskai;
            font-style:normal;
            font-weight:400;
            src:local('BebasKai'),
            url({{ url_for('static', filename='fonts/BebasKai-Regular.woff') }}) format('woff')
        }

        @font-face {
            font-family:hack;
            font-style:normal;
            font-weight:100;
            src:local('Hack'),
            url({{ url_for('static', filename='fonts/Hack-Regular.woff') }}) format('woff')
        }        

        .container {
            border: 1px solid white;
            max-width: 1512px;
            min-height: 800px;
        }

        .titulo {
            text-decoration: underline;
            text-align: center;
            font-size: 80px;
            margin-bottom: 0px;
        }

        .subtitulo {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 60px;
            margin-top: 10px;
        }

        #logo {
            position: absolute;
            width: 220px;
            height: auto;
            top: 30px;
            left: 50px;       
        }

        .text-danger,
        .red {
            color:#DA2536;
        }

        .green {
            color:green;
        }

        .text-primary,
        .blue {
            color:#0070C0;
        }

        .text-primary {
            font-family:'Hack';
        }

        .fw-bold {
            font-weight: bold;
        }

        .text-decoration-underline {
            text-decoration: underline;
        }

        .margin_padrao {
            margin: 25px;
        }

        .titulo_semanal {
            font-size: 80px;
            font-family:'BebasKai', sans-serif;
            text-align: center;
            margin: 25px;
        }

        .titulo_oracao {
            color:green;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-size: 70px;
            font-weight: bold;
            margin: 25px;
        }

        hr {
            border-top: 5px dashed black;
            margin-left: 20px;
            margin-right: 20px;
        }

        .texto_oracao {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 70px;
        }

        .titulo_dia_semanal {
            font-size: 60px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .text {
            font-size: 50px;
            margin-left: 3vw;
            /*text-align: justify;*/
            line-height: 1.31;
            /*-webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;*/
            margin-right: 2vw;
            margin-bottom: 35px;
            margin-top: 25px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .paragrafo {
            margin-bottom: 30px;
        }

        .mono {
            font-family:'Hack';

        }

    </style>

    <body>
        <main class="container">
            <p class="titulo">ASSEMBLEIA DE DEUS</p>
            <p class="subtitulo">Ministério de Cachoeira Paulista</p>
            <img id="logo" src="{{ url_for('static', filename='images/Logo Colorido.png') }}">
            <p class="titulo_semanal"><span class="green">CALENDÁRIO MENSAL</span> - <span class="red">{{mes_desc}} DE {{ano}}</span></p>

            {% for sld in slides %}
            <hr>
            <p class="titulo_dia_semanal margin_padrao"><b>{{sld['desc_dia']}}</b></p>
            <ul class="text">
                {% for evento in sld['eventos'] %}
                <li class="paragrafo">{{evento}}</li>
                {% endfor %}
            </ul>                 
            {% endfor %}

        </main>
    </body>
</html>