<html lang="pt-BR">
    <head>
        <title>Render PDF</title>
        <style>

            @font-face {
                font-family:bebaskai;
                font-style:normal;
                font-weight:400;
                src:local('BebasKai'),
                url({{ url_for('static', filename='fonts/BebasKai-Regular.woff') }}) format('woff')
            }

            body > :last-child: { margin-bottom: -1px; overflow: hidden; }

            #container {
                position: absolute;
                top:0px;
            }

            .pagina {
                position: relative;
                top: 0px;
                left: 5px;
                width: 401px;
                height: 580px;
                border: solid;
                border-width: 1px;
                border-color: rgb(0, 0, 0, 0);
                margin-bottom: 40px;
                page-break-inside: avoid;
            }

            .pagina::after {
                content: "";
                display: block;
                break-after: page;
            }            

            .pagina:last-of-type {
                margin-bottom: 0px;
            }

            .capa {
                position: relative;
                top: 0px;
                left: 5px;
                width: 393px;
                height: 571px;                
                border: 5px solid black;
                margin-bottom: 40px;
            }

            .capa:before {
                content: " ";
                position: absolute;
                z-index: -1;
                top: 5px;
                left: 5px;
                right: 5px;
                bottom: 5px;
                border: 1px solid black;
            }            

            .titulo {
                text-align: center;
                font-family:'BebasKai', sans-serif;
                color:rgb(0, 112, 192);
                font-size: 20.5px;
                position: relative;
                top:-17.5px;
            }

            .titulo-capa {
                position: relative;
                top:5px;
                text-align: center;
                font-family:'BebasKai', sans-serif;
                font-size: 35px;
            }

            .texto-capa {
                margin-top: 40px;
                text-align: center;
                font-family:'BebasKai', sans-serif;
                font-size: 50px;
                color: red;
            }

            .foot-capa {
                margin-top: 70px;
                text-align: center;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 25px;
            }

            .titulo-info {
                position: relative;
                top:16px;
                text-align: center;
                font-family:'BebasKai', sans-serif;
                font-size: 22px;
                text-decoration: underline;                
            }

            #logo {
                margin-top: 40px;
                position: relative;
                width: 180px;
                height: auto;
                left: 27%;
            }

            .content {
                font-size: 10.5px;
                font-family: Helvetica, Arial, sans-serif;
                position: relative;
                top: -25px;
                left: 23px;
                line-height: 1.3;
            }

            .pagina2 {
                position: relative;
                top: 0px;
            }            

            .content-info {
                position: relative;
                left:17px;
                margin-top: 40px;
                font-size: 12px;
                font-family: Helvetica, Arial, sans-serif;
                line-height: 1.8;                
            }

            .content-sumario {
                position: relative;
                left:17px;
                margin-top: 35px;
                font-size: 8px;
                font-family: Helvetica, Arial, sans-serif;
            }

            .coluna-1 {
                position: relative;
                left:17px;
                margin-top: 35px;
                font-size: 8px;
                width: 200px;
                font-family: Helvetica, Arial, sans-serif;
            } 

            .coluna-2,
            .coluna-2-extra {
                position: absolute;
                left: 220px;
                top: 55px;
                font-size: 8px;
                width: 200px;
                font-family: Helvetica, Arial, sans-serif;
            }

            .coluna-2-extra {
                top:5px !important; 
            }

            .sumario-extra {
                margin-top: 13px;
            }

            .content-sumario p {
                margin-bottom: -1px;
                /*border-bottom: 1px dotted #000;
                border-color:rgb(0,0,0,0.5);*/
                background-image: url("data:image/svg+xml,%3csvg height='25' width='800' xmlns='http://www.w3.org/2000/svg'%3e%3cg fill='none' stroke='black' stroke-width='3'%3e%3cpath stroke-dasharray='2%2c10' d='M5 20 2000 20'/%3e%3c/g%3e%3c/svg%3e");
                background-position: bottom;
                background-size: 500px 10px;
                /*background-repeat: repeat-x;*/

                margin-right: 35px;
            }

            .coluna-1 p,
            .coluna-2 p,
            .coluna-2-extra p {
                background-image: url("data:image/svg+xml,%3csvg height='25' width='800' xmlns='http://www.w3.org/2000/svg'%3e%3cg fill='none' stroke='black' stroke-width='3'%3e%3cpath stroke-dasharray='2%2c10' d='M5 20 2000 20'/%3e%3c/g%3e%3c/svg%3e");
                background-position: bottom;
                background-size: 500px 10px;
                margin-right: 35px;
                margin-bottom: -1px;                
            }            

            .lista {
                font-size:10px;
                line-height: 1.4;
            }

            .super-lista {
                position: relative;
                left:-40px;
            }

            .super-lista:first-of-type {
                margin-top: -10px;
            }

            .cdx-marker {
                color:rgba(192,0,0);
                font-weight:bold;
                background:rgba(0,0,0,0);
                padding-right: 3px;
            }    

            .cdx-underline-view {
                text-decoration: underline;
                text-decoration-color: rgb(0,0,0,0.5);
            }   

            .cdx-marker .cdx-underline-view {
                text-decoration-color: rgb(192,0,0,0.5);
            }

            .pag {
                float: right;
                background: white;
                padding: 0 0 5px 3px;
            }     

            .titulo-sumario {
                background: white;
                padding: 0 3px 5px 0;
            }

            .paginacao {
                position: relative;
                text-align: center;
                top:565px;
                font-size: 10px;
                font-family: Helvetica, Arial, sans-serif;                
            }

            a {
                text-decoration: none;
                color: black;
            }

            .cdx-num{color:#0070C0}

            .red{color:#FF0000}

        </style>
    </head>
    <body>
        <div id="container">
            {% if completo == 'true' %}
            <div id="capa" class="capa">
                <div class="titulo-capa">Assembleia de Deus Ministério De Cachoeira Paulista</div>
                <img id="logo" src="{{ url_for('static', filename='images/Logo Colorido.png') }}">
                <div class="texto-capa">Hinário dos Slides</div>
                <div class="foot-capa"><b>Edição: </b>{{data}}</div>
            </div>
            <div id="info" class="pagina">
                <div class="titulo-info">Informações do Documento</div>
                <div class="content-info">
                    <p>Documento gerado automaticamente pelo banco de dados do sistema <b>"Slide Master Index II".</b></p>
                    <p>
                        <b>Data do Documento: </b>{{data}}
                        <br>
                        <b>Quantidades de Músicas: </b>{{lista|length}}
                    </p>
                    <p>
                        <b>Vínculos: </b><br>
                        
                        {% for item in lista_categoria %}
                            <ul class="super-lista">
                            {{item['descricao']}}
                                <ul class="lista">
                                {% for cat in item['cats'] %}
                                    <li>{{cat}}</li>
                                {% endfor %}
                                </ul>
                            </ul>
                        {% endfor %}
                    </p>
                </div>
            </div>

            <!-- Primeira página do sumário -->
            <div id="sumario" class="pagina">
                <div class="titulo-info">Sumário</div>
                <div class="coluna-1">
                    {% for n in range(start_sumario_pages['start_1'], start_sumario_pages['end_1']) %}
                    <p><a href="#pag{{lista[n]['cont']}}"><span class="titulo-sumario">{{lista[n]['cont']}}. {{lista[n]['titulo_sumario']}}</span><span class="pag">{{lista[n]['pag']}}</span></a></p>
                    {% endfor %}
                </div>
                <div class="coluna-2">
                    {% for n in range(start_sumario_pages['start_2'], start_sumario_pages['end_2']) %}
                    <p><a href="#pag{{lista[n]['cont']}}"><span class="titulo-sumario">{{lista[n]['cont']}}. {{lista[n]['titulo_sumario']}}</span><span class="pag">{{lista[n]['pag']}}</span></a></p>
                    {% endfor %}
                </div>                
            </div>

            {% for pagina in pages_sumario %}
            <!-- Página extras do sumário -->
            <div class="pagina">
                <div class="coluna-1 sumario-extra">
                    {% for n in range(pagina['start_1'], pagina['end_1']) %}
                    <p><a href="#pag{{lista[n]['cont']}}"><span class="titulo-sumario">{{lista[n]['cont']}}. {{lista[n]['titulo_sumario']}}</span><span class="pag">{{lista[n]['pag']}}</span></a></p>
                    {% endfor %}
                </div>

                <div class="coluna-2-extra">
                    {% for n in range(pagina['start_2'], pagina['end_2']) %}
                    <p><a href="#pag{{lista[n]['cont']}}"><span class="titulo-sumario">{{lista[n]['cont']}}. {{lista[n]['titulo_sumario']}}</span><span class="pag">{{lista[n]['pag']}}</span></a></p>
                    {% endfor %}
                </div>                
            </div>
            {% endfor %}

            {% endif %}

            <!-- Lista de músicas -->
            {% for item in lista %}
            <div id="pag{{item['cont']}}" class="pagina">
                <div class="paginacao"><a href="#sumario">{{item['pag']}}</a></div>
                {% if completo == 'true' %}
                <p class="titulo">{{item['cont']}}. {{item['titulo']}}</p>
                {% else %}
                <p class="titulo">{{item['titulo']}}</p>
                {% endif %}
                <div class="content">
                    {% for par in item['letras'] %}
                    <p>{{par['texto']|safe}}</p>
                    {% endfor %}
                </div>
            </div>

            {% if item['letras_2']|length > 0 %}
            <div id="pag{{item['cont']|int + 1}}" class="pagina">
                <div class="paginacao"><a href="#sumario">{{item['pag']|int + 1}}</a></div>
                <div class="content pagina2">
                    {% for par in item['letras_2'] %}
                    <p>{{par['texto']|safe}}</p>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% endfor %}        
        </div>
    </body>
</html>