<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Resultado da Pesquisa</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/navbar-top-fixed.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">      
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Simular original -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> -->

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">
    <link rel="stylesheet" href="https://pagination.js.org/dist/2.1.5/pagination.css">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: black;
      }

      .highlight {
        background: #FFC107;
      }

      .cdx-marker {
        color:rgba(192,0,0);
        font-weight:bold;
        background:rgba(0,0,0,0);
        padding-right: 0.1em;
      }

      .box-index {
        box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
        color: blue;
        font-weight: bold;
      }

      .line-result {
        cursor: pointer;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    #loading {
      background-color: white;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9999;
    }

    .loader {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      bottom: 0;
      margin: auto;
      border: 20px solid #EAF0F6;
      border-radius: 50%;
      border-top: 20px solid #FF7A59;
      width: 200px;
      height: 200px;
      animation: spinner 4s linear infinite;
    }
    @keyframes spinner {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }   

    img {
        display: block;
        height: 300px;
        width: 100%;
        border: solid;
        border-width: thin;
    }

    #txt_pesquisa_letra,
    #txt_senha,
    #txt_filtro {
      border: solid;
      border-color: rgb(0, 0, 0, 0.3);
    }  

    #letras_musicas,
    #detalhes_musicas {
      color: black;
    }

    .Forte {
      background-color: rgb(115, 249, 139);
      border-radius: 5px;
      padding: 2%;
    }

    .Médio {
      background-color: rgb(250, 191, 135);
      border-radius: 5px;
      padding: 2%;
    }

    .Fraco {
      background-color: rgb(249, 159, 237);
      border-radius: 5px;
      padding: 2%;
    }

    .text {
      background-color: rgb(255, 255, 255);
      border-radius: 5px;
      padding: 1%;
      margin-top: 10px;
    }

    .btn-youtube {
      color: white;
    }

    .btn-youtube:hover {
      color: rgb(174, 88, 255);
    }

    .cdx-marker {
        color:rgba(192,0,0);
        font-weight:bold;
        background:rgba(0,0,0,0);
      }

      .cdx-underline-view {
          text-decoration: underline;
          text-decoration-color: rgb(0,0,0,0.5);
      }   

      .cdx-marker .cdx-underline-view {
          text-decoration-color: rgb(192,0,0,0.5);
      }    

    .cdx-num {
      color:#0070C0;
    }

    .red {
      color:#FF0000;
    }      
       
    .nd {
      font-variant: small-caps;
    }

    .add {
      font-style: italic;
    }

    .sc {
      font-variant: small-caps;
    }

    .heading {
      font-weight: bold;
    }

    .wj {
      color: red;
    }    

    .t_vers {
      font-size: 30px;
    }

    .auto_hifen {
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }

    </style>

    
  </head>

  <body>
    
    {% block menu_superior %}
      {% include 'menu_superior.html' %}
    {% endblock %}    

		<div class="wrapper d-flex align-items-stretch">
    {% block menu_lateral %}
      {% include 'menu_lateral.html' %}
    {% endblock %}   


      <div class="modal fade" id="show_biblia" tabindex="-1" role="dialog" aria-labelledby="showBibliaLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="showBibliaLabel">Detalhes do Capítulo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="texto_biblia" class="text"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>    

      <div class="modal fade" id="show_musica" tabindex="-1" role="dialog" aria-labelledby="showMusicaLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="showMusicaLabel">Detalhes do Hino/Música</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="letras_musicas" class="text"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <section class="container">
          <div id="loading"><div class="loader"></div></div>
          <div class="row">
            <div id="status" class="col-sm-12">{{feedback}}</div>
          </div>
          <div class="row text-center">
            <h4 class="fw-light"><span class="fw-bold">Resultado da Pesquisa: <span class="text-danger">({{'sem registros' if lista_final|length == 0 else lista_final|length ~ ' registro' if lista_final|length == 1 else lista_final|length ~ ' registros' }})</span></h4>
          </div>
          <div class="row">

            <div class="col-sm-9 mb-3">
              <div id="pagination-container"></div>
            </div>

            <div class="col-sm-3 mb-3 text-end">
              <a href="/historico" class="btn btn-secondary"><i class="fa-solid fa-circle-left"></i> Sair da Pesquisa</a>
            </div>

            <div class="col-sm-12">

                {% for item in lista_final %}
                <table class="paginavel table">
                  <thead class="table-dark">
                    <tr class="text-center">
                      <th scope="col" class="align-middle fs-5">{{item['data']}}</th>
                      <th scope="col" class="align-middle fs-5">{{item['semana']}}</th>
                      <th scope="col" class="align-middle fs-5">{{item['tema']}}</th>
                      <th scope="col" class="align-middle">{{item['OBS']}}</th>
                      <th scope="col" class="align-middle"><a href="{{item['url']}}"><i class="fa-brands fa-youtube fa-2x btn-youtube btn-youtube"></i></a></th>
                    </tr>                
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="5">
                        <table class="table table-striped table-bordered table-hover">
                          <tbody>
                            {% for evento in item['eventos'] %}
                            <tr class="{{evento['cor']}}">
                              <td class="text-center">{{evento['tipo']}}</td>
                              <td class="text-center"><a href="javascript:visualizar('{{evento['id_item']}}', '{{evento['tipo']}}')"><i class="fa-solid fa-eye"></i></a> {{evento['desc_item']}}</td>
                              <td class="text-center">{{evento['departamento']}}</td>
                              <td class="text-center">{{evento['formato']}}</td>  
                            </tr>
                            {% endfor %}
                          </tbody>
                        
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                {% endfor %}
            </div>
          </div>
        </section>
      </div>
		</div>

  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/modulo_view.js') }}"></script>

  <!-- Pagination.js -->
  <script src="https://pagination.js.org/dist/2.1.5/pagination.min.js"></script>  
  
  <script>

    window.onload = function() {
      $("#loading").remove();      
    };

    $(document).ready(function () {
      const blocos = $('.paginavel').toArray(); // Todos os blocos pagináveis

      $('#pagination-container').pagination({
        dataSource: blocos,
        pageSize: 5, // número de blocos por página
        showSizeChanger: true,
        callback: function (data, pagination) {
          $('.paginavel').hide(); // Esconde todos
          $(data).show();         // Mostra apenas os da página atual
        }
      });
  });    

  </script>
      
  </body>
</html>
