<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Controlador Principal</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/navbar-top-fixed.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">      
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    

    <!-- Simular original -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> -->

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: black;
      }

      .box-index {
        box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
        color: blue;
        font-weight: bold;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    #anterior,
    #proximo {
      color: white;
    }

    #txt_titulo {
      border: solid;
      border-color: rgb(0, 0, 0, 0.3);
    }    

    #previewSlide {
      width: 426px; /* or whatever width you want. */
      height: 240px; /* or whatever width you want. */
      display: inline-block;    
      background-color: black;
      color: white;
      line-height: normal;
      font-family: Arial, Helvetica, sans-serif;
    }

    #previewSubtitle {
      width: 426px; /* or whatever width you want. */
      height: 50px; /* or whatever width you want. */
      display: inline-block;    
      background-color: rgb(0, 0, 0, 0.8); 
      color: white;
      line-height: normal;
      font-family: Arial;      
    }

    .arrows,
    .preview {
      width: 426px;
    }

    .view-marker {
      color:rgba(255,207,102);
      font-weight:bold;
      background:rgba(0,0,0,0)
    }

    .arrow {
      font-size: xx-large;
    }

    .doc {
      background-color: white;      
      border: solid;
      border-width: thin;
      border-color: rgb(0, 0, 0);
      color: black;
    }

    .box {
      padding:10px;
      padding-bottom: 20px;
      color:black;
      border-top: solid;
      border-bottom: solid;
      border-color: rgb(0, 0, 0, 0.3);
    }

    .blue {
      background-color:#b2d6ff;
      border-left: solid;
      border-right: solid;
      border-color: rgb(0, 0, 0, 0.3);
    }   

    .yellow {
      background-color:#fffed8;
    }   

    .pink {
      background-color:#ffe9ff;
      border-left: solid;
      border-right: solid;
      border-color: rgb(0, 0, 0, 0.3);      
    }   

    .txt-vinc {
      width: 100%;
      border: solid;
      border-color: rgb(0, 0, 0, 0.3);      
    } 

    .txt-vinc:hover:enabled {
      border-color: rgba(0, 162, 255, 0.7);  
    }

    .txt-vinc:focus {
      outline: none;
      border-color: rgba(0, 162, 255, 0.7);  
    }    

    textarea {
      resize: none;
    }

    </style>
    
  </head>

  <body>

    {% block menu_superior %}
      {% include 'menu_superior.html' %}
    {% endblock %}


		<div class="wrapper d-flex align-items-stretch">
      {% block menu_lateral %}
        {% include 'menu_lateral.html' %}
      {% endblock %}

      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <section class="container">
          <div class="row">
            <div class="col-sm-12">
              <h3><span class="fw-bold">Título:</span> {{info['titulo']}}</h3>
            </div>
            <div class="col-sm-12"><h3 class="fw-bold">Vínculos:</h3></div>
            <div class="col-sm-4">
                <div class="row box blue">
                    <div class="col-sm-12">
                        <div class="fw-bold">Vínculo 1 (Obrigatório):</div>
                        <select id="vinc1" class="form-select" aria-label="Default select example" name="vinc1" required>
                            {% for item in categoria %}
                                <option value="{{item['id']}}">{{item['descricao']}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <div class="fw-bold">Status 1:</div>
                        <select id="status1" class="form-select" aria-label="Default select example" name="status1" required>
                            {% for item in status %}
                                <option value="{{item['id']}}">{{item['descricao']}}</option>
                            {% endfor %}
                        </select>                    
                    </div>

                    <div class="col-sm-12">
                        <div class="fw-bold">Descrição:</div>
                    </div>
                    <div class="col-sm-12">
                        <textarea name="desc1" class="txt-vinc" id="desc_vinc1" rows="3" placeholder="Digite a descrição:" maxlength="200" required></textarea>
                    </div>
                </div>     
            </div>
            <div class="col-sm-4">
                <div class="row box yellow">
                    <div class="col-sm-12">
                        <div class="fw-bold">Vínculo 2:</div>
                        <select id="add_vinc2" class="form-select vincopt" name="vinc2" aria-label="Default select example">
                            <option value="0">-</option>
                            {% for item in categoria %}
                                <option value="{{item['id']}}">{{item['descricao']}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <div class="fw-bold">Status 2:</div>
                        <select id="status2" class="form-select form-vinc2" aria-label="Default select example" name="status2" disabled>
                            {% for item in status %}
                                <option value="{{item['id']}}">{{item['descricao']}}</option>
                            {% endfor %}
                        </select>                    
                    </div>
                    <div class="col-sm-12">
                        <div class="fw-bold">Descrição:</div>
                    </div>
                    <div class="col-sm-12">
                        <textarea name="desc2" class="txt-vinc" id="desc_vinc2" rows="3" placeholder="Digite a descrição:" maxlength="200" disabled required></textarea>
                    </div>                    
                </div>  
            </div>

            <div class="col-sm-4">
                <div class="row box pink">
                    <div class="col-sm-12">
                        <div class="fw-bold">Vínculo 3:</div>
                        <select id="add_vinc3" class="form-select vincopt" name="vinc3" aria-label="Default select example" disabled>
                            <option value="0">-</option>
                            {% for item in categoria %}
                                <option value="{{item['id']}}">{{item['descricao']}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <div class="fw-bold">Status 3:</div>
                        <select id="status3" name="status3" class="form-select form-vinc3" aria-label="Default select example" disabled>
                            {% for item in status %}
                                <option value="{{item['id']}}">{{item['descricao']}}</option>
                            {% endfor %}
                        </select>                    
                    </div>
                    <div class="col-sm-12">
                        <div class="fw-bold">Descrição:</div>
                    </div>
                    <div class="col-sm-12">
                        <textarea name="desc3" class="txt-vinc" id="desc_vinc3" rows="3" placeholder="Digite a descrição:" maxlength="200" disabled required></textarea>
                    </div>                    
                </div>              
            </div>

          </div>
          <div class="row">
            <div class="col-sm-12"><hr></div>
            <div class="col-sm-12">
              <button id="btn_back" class="btn btn-secondary"><i class="fa-solid fa-circle-left"></i> Retorar para Edição</button>
              <button id="btn_confirm" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Confirmar Salvamento</button>
            </div>
            <div class="col-sm-12"><hr></div>
          </div>
          
          <div class="row">
            <div class="col-sm-6">
              <h3 class="fw-bold text-center">Lista dos Slides</h3>
              <table class="table table-striped">
                <thead>
                  <th>Nº</th>
                  <th>Texto</th>
                  <th>Categoria</th>
                </thead>
                <tbody>
                  {% for sld in info['slides'] %}
                    <tr class="text-center">
                      <th class="align-middle text-danger">{{sld['pos']}}</th>
                      <td class="align-middle">{{sld['text-slide']}}</td>
                      <td class="align-middle">
                        <select id="slide_cat_{{sld['pos']}}">
                          {% for cat in cat_slides %}
                          <option value="{{cat['id']}}">{{cat['descricao']}}</option>
                          {% endfor %}
                        </select>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12"><h3 class="fw-bold text-center">Prévia das Letras <button id="btn_gerar_pdf" class="btn btn-danger"><i class="fa-solid fa-file-pdf"></i></button></h3></div>
                <div class="col-sm-12 doc"><div id="editorjs"></div></div>
              </div>
            </div>
          </div>
        </section>
      </div>
		</div>

  <form id="formBack" method="post" action="edit_musica"><input id="json_back" name="json_back" type="hidden"></form>
  <form id="formSend" method="post" action="addMusica"><input id="json_send" name="json_send" type="hidden"></form>

  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/textFit.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/marker.umd.js') }}"></script>
  <script src="{{ url_for('static', filename='js/underline.umd.js') }}"></script>
  <script src="{{ url_for('static', filename='js/editorjs.umd.js') }}"></script>

  <script src="{{ url_for('static', filename='jspdf/jspdf.umd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='font-custom/BebasKai-normal.js') }}"></script>
  <script src="{{ url_for('static', filename='font-custom/GreatVibes-Regular-normal.js') }}"></script>  
  <script src="{{ url_for('static', filename='js/gerador_pdf.js') }}"></script>  

  
<script>

  $("#btn_gerar_pdf").on('click', function() {
    editor.save()
      .then( data => {

        var texto = [];

        for (item in data['blocks']) {
          texto.push({'texto':data['blocks'][item]['data']['text']})
        }

        data = {'titulo':"{{info['titulo']}}", 'texto_bruto':texto}

        $.ajax({
            type: "POST",
            url: "converto_to_pdf_list",
            contentType: "application/json",
            data: JSON.stringify(data),
            dataType: "json",
            success: function(data) {
                gerarPDF(data);
            },
        });

      })
      .catch((error) => {
        console.error('Saving error', error);
      });    
  });

  function getTexto() {
    var texto = [];

        editor.save()
          .then( data => {

            cont = 1;

            for (item in data['blocks']) {
              texto.push({'paragrafo':cont, 'texto':data['blocks'][item]['data']['text']})
              cont++;
              //console.log(data['blocks'][item]['data']['text']);
            }

            listaGeral = getInfo();
            listaGeral['letra'] = texto;

            $("#json_send").val(JSON.stringify(listaGeral));
            $("#formSend").submit();

          })
          .catch((error) => {
            console.error('Saving error', error);
          });
          

  }

  function getInfo() {

    titulo = '{{info['titulo']}}';
    vinculos = [{'vinc':$("#vinc1").val(), 'status':$("#status1").val(), 'descricao':$("#desc_vinc1").val()}];
    slides = {{info['slides']}};

    // acrescentando as categorias a lista
    for (item in slides) {
      slides[item]['cat'] = $("#slide_cat_" + slides[item]['pos']).val();
    }

    letras = [];

    if ($("#add_vinc2").val() != 0) {
      vinculos.push({'vinc':$("#add_vinc2").val(), 'status':$("#status2").val(), 'descricao':$("#desc_vinc2").val()});
    }

    if ($("#add_vinc3").val() != 0) {
      vinculos.push({'vinc':$("#add_vinc3").val(), 'status':$("#status3").val(), 'descricao':$("#desc_vinc3").val()});
    }

    return {'titulo':titulo, 'vinculos':vinculos, 'slides':slides};

  }

  $("#btn_back").on('click', function() {
    listaGeral = getInfo();
    $("#json_back").val(JSON.stringify(listaGeral));
    $("#formBack").submit();
  });

  $("#btn_confirm").on('click', function() {
    getTexto();
  });

  $("#add_vinc2").on('change', function() {
    if ($(this).val() != 0) {
      $("#status2").removeAttr('disabled');
      $("#desc_vinc2").removeAttr('disabled');
      $("#add_vinc3").removeAttr('disabled');
    } else {
      $("#status2").attr('disabled', '');
      $("#desc_vinc2").attr('disabled', '');
      $("#add_vinc3").val(0);
      $("#add_vinc3").attr('disabled', '');
      $("#status3").attr('disabled', '');
      $("#desc_vinc3").attr('disabled', '');      
    }
  });

  $("#add_vinc3").on('change', function() {
    if ($(this).val() != 0) {
      $("#status3").removeAttr('disabled');
      $("#desc_vinc3").removeAttr('disabled');
    } else {
      $("#status3").attr('disabled', '');
      $("#desc_vinc3").attr('disabled', '');
    }
  });  

  const editor = new EditorJS({
    /**
    * Id of Element that should contain Editor instance
    */
    holder: 'editorjs',

    inlineToolbar: ['bold', 'italic', 'underline', 'Marker'],

    tools: {
      // ...
      underline: Underline,
      Marker: {
        class: Marker,
        shortcut: 'CMD+SHIFT+M',
      }
    },
    data: {
      blocks: {{blocks}}
    }
  });

</script>
      
  </body>
</html>
