<html>
    <head>
        <title>Legenda</title>
        <style>

            .text {
                text-align: {{align}};
                font-family: 'Arial';
                width: 100%;
                /*margin: 0 auto;*/
                /*height: 20%; peguei na tag com o ninja*/
                /*background: rgb(0, 0, 0, 0.8);*/
                color: white;
                position: fixed;
                bottom: 0;
                left: 0;
                animation-name: fade-in;
                animation-duration: 0.5s;                    
            }
            
            .head {
                text-align: center;
                font-family: 'Arial';
                width: 98vw;
                height: 8vh;
                /*background: rgb(0, 0, 0, 0.8);*/
                text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
                color: white;
                /*animation-name: fade-inhead;
                animation-duration: 0.5s;
                /* mudança pedida pelo Felipe */
                position: fixed;
                /*bottom: 20%; peguei na tag com o ninja*/
                left: 1vw;
                text-align: left;
            }

            .retangulo {
                width: 100vw;
                position: fixed;
                bottom: 0;
                left: 0; 
                background: rgb(0, 0, 0, 0.8);               
            }

            .nd {
                font-variant: small-caps;
            }

            .add {
                font-style: italic;
            }

            .sc {
                font-variant: small-caps;
            }

            .heading {
                font-weight: bold;
            }

            .wj {
                color: yellow;
            }            

            @keyframes fade-in {
                from {color: rgba(255, 255, 255, 0);}
                to {color: rgba(255, 255, 255, 1);}
            }

            @keyframes fade-inhead {
                from {
                    color: rgba(255, 255, 255, 0);
                    text-shadow: 0px 0px 0px black;
                }
                to {
                    color: rgba(255, 255, 255, 1);
                    text-shadow: 1px 1px 2px black;
                }                
            }
        </style>
        <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/textFit.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    </head>
    <body>
        {% if index < legenda|length %}

        {% if estado == 2 %}
        <div class="head" style="bottom:{{tamanho|safe}}vh">{{head['nome']}} {{head['cap']}}:<span id="txt_versiculo">{{index + 1}}</span> - {{head['versao']}}</div>
        {% endif %}

        <div class="retangulo" style="height:{{tamanho|safe}}vh"></div>
        <div class="text" style="height:{{tamanho|safe}}vh">{{ legenda[index]|safe }}</div>
        {% else %}
        <div class="retangulo" style="height:0vh"></div>
        <div class="text" style="height:0vh"></div>
        {% endif %}

        <script>
            var legenda = {{legenda}};
            if ({{index}} < legenda.length) {
                textFit($('div'), {alignVert: true, multiLine: true, minFontSize: 10, maxFontSize: 100});
            }
            
            var socket = io()

            socket.on('update', function(index) {
                
                if (index < legenda.length) {
                    $('.text').html(legenda[index]);

                    if ($('.text').text().length < 100) {
                        tamanho = 20;
                    } else {
                        tamanho = 30;
                    }

                    $('.text').attr('style', "height:" + tamanho + "vh");
                    $('.retangulo').attr('style', "height:" + tamanho + "vh");
                    $('.head').attr('style', "bottom:" + tamanho + "vh");
                    $("#txt_versiculo").text(index + 1);

                    textFit($('div'), {alignVert: true, multiLine: true, minFontSize: 10, maxFontSize: 100});

                    var el = $('.text');
                    el.before( el.clone(true) ).remove();      
                } else {
                    $('.text').empty();
                    $('.text').attr('style', "height:0vh");
                    $('.retangulo').attr('style', "height:0vh");                    
                }
            });

            socket.on('refresh', function(a) {
                if (a == 1) {
                    location.reload();
                }
            });
        </script>
    </body>
</html>