<html lang="pt-BR">
    <head>
        <title>Aguardando Importação...</title>

        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <style> 

            #loading {
                background-color:#CCFFCC;
                width: 100%;
                height: 100%;
                position: absolute;
                top:0%;
                left:0%;
            }  

            .vertical-center {
              margin: 0;
              position: relative;
              top: 50%;
              text-align: center;
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
            }

            .text {
                color:#17202A;
                text-align: center;
            }

            .title {
                font-family: Blippo, fantasy;
                font-size:20vh;
            }

            .subtitle {
                font-family: Helvetica, sans-serif;
                font-size:15vh;
            }

        </style>
    </head>
    <body>
        <div id="loading">
            <h3 class="text title">Aguarde...</h3>
            <h4 class="text subtitle">Importando Arquivo PPTX<br>para o novo sistema...</h4>
            <div class="d-flex justify-content-center">
              <div class="spinner-border" role="status" style="width: 10rem; height: 10rem; border-width: 2rem;">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
        </div>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>

    <script>
        var socket = io();
        socket.on('pix', function(result) {
            window.location.replace("/slide_pix");
        });

        socket.on('refresh', function(result) {
            window.location.replace("/slide");
        });        

    </script>
    </body>
</html>